@import 'mixins'
@import 'codemirror'
@import 'flip-clock'
@import 'highlight'

/*
 * Webfont
 */


font-url(file)
  return '../../fonts/' + file

webfont(family, file, weight = 'normal')
  @font-face
    font-family family
    src url(font-url(file + '.eot'))
    src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
        url(font-url(file + '.woff')) format('woff'),
        url(font-url(file + '.ttf')) format('truetype'),
        url(font-url(file + '.svg#'+ family)) format('svg')
    font-weight weight
    font-style normal

webfont('DINCondensedBold', 'DINCondensedBold', 'normal')

/*
 * Principal style
 */

html
  position relative
  min-height 100%

  h1, h2, h3, h4, h5
    -webkit-font-smoothing antialiased
    -moz-font-smoothing antialiased

body
  font-family: 'Whitney SSm A', 'Whitney SSm B', "Helvetica Neue", Helvetica, Arial, sans-serif;

pre,
code
  padding 0
  margin 0
  font-family 'Roboto Mono', Menlo

code
  font-size 80%

a
  color: darken(#00b9f1, 20%)
  transition: all  .3s ease;
  &:hover
    color: darken(#00b9f1, 50%)

.container
  width 100%
  max-width 1200px
  padding 0 15px
  margin auto
  overflow hidden
  +breakpoint("desktop")
    overflow visible

section
  padding 30px 0
  +breakpoint("tablet")
    padding 60px 0
  h1
    color black
    text-align center
    margin 0 0 30px
    font-weight normal
    +breakpoint("tablet")
      font-size 38px

body
  &.menu-mobile
    .banner-jwt
      padding-top 122px!important

// navbar

.navbar
  background black
  margin 0
  border-radius 0
  border 0
  text-align center
  +breakpoint("tablet")
    width 100%
    height 80px
    border-bottom 1px solid rgba(#4A4A4A,.6)
    position fixed
    top 0
    z-index 100
  +breakpoint("desktop")
    height 100px

  .container
    position relative

  .top-mobile
    border-bottom 1px solid rgba(#4A4A4A,.6)
    clearfix()
    margin 0 -15px
    +breakpoint("tablet")
      border none
      margin 0

  .menu-trigger
    height 10px
    width 23px
    padding-top 7px
    cursor pointer
    float right
    margin 23px 15px 0 0
    float right
    span, span:before, span:after
      background white
      width 100%
      height 2px
      display block
      transition(.3s ease-out)
      backface-visibility hidden
    span
      position relative
      &:before, &:after
        content ""
        position absolute
      &:before
        top -7px
      &:after
        top 7px
    +breakpoint("tablet")
      display none

    &.active
      span
        background transparent
        &:before
          transform(translate(0, 7px) rotate(-45deg))
        &:after
          transform(translate(0, -7px) rotate(45deg))


  .brand
    display inline-block
    float left
    padding 20px 0 20px 15px
    +breakpoint("tablet")
      float none
      position absolute
      left 15px
      top 20px
      padding 0
    .icon
      display none
      +breakpoint("tablet")
        display inline-block
        width 40px
        height 40px
        opacity 0
        transform(scale(0))
      +breakpoint("desktop")
        width 60px
        height 60px
    .logo
      width 60px
      +breakpoint("tablet")
        width 80px
        height 25px
        display inline-block
        vertical-align top
        margin-top 7px
        transition(.3s ease-in-out)
        transform(translateX(-40px))
      +breakpoint("desktop")
        width 100px
        height 32px
        margin-top 14px
        transform(translateX(-60px))

  nav.menu
    display none
    min-width: 300px;
    +breakpoint("tablet")
      display inline-block
    a
      background none
      color #9B9B9B
      padding 0 15px
      display block
      text-decoration none
      &:hover
        +breakpoint("tablet")
          color rgba(white,.8)
      &.active
        color white
      +breakpoint("tablet")
        display inline-block
        line-height 5.7
      +breakpoint("desktop")
        line-height 7

  .social
    display none
    +breakpoint("tablet")
      display inline-block
      position absolute
      right 15px
      top 28px
    +breakpoint("desktop")
      top 38px

    a
      margin-left 10px
      img
        height 24px

  .supported
    display none

  &.fixed
    .brand
      .icon
        +breakpoint("tablet")
          transition(.3s ease-in)
          opacity 1
          transform(scale(1))
      .logo
        +breakpoint("tablet")
          transform(translateX(10px))
        +breakpoint("desktop")
          transform(translateX(20px))

  &.open
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0.9)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 100%);


    position fixed
    width 100vw
    height 100vh
    z-index 100
    .container
      padding 0
      height 100vh

    .top-mobile
      margin 0

    nav.menu
      position absolute
      top 50%
      left 50%
      transform(translate(-50%,-50%))
      display block
      a
        color white
        font-size 30px
        margin 10% 0

    .supported
      display block
      width 100%
      padding 21px 0
      color white
      position absolute
      bottom 0
      border-top 1px solid rgba(#4A4A4A,.6)
      text-decoration none
      img
        margin-left 5px


// banner-jwt

.banner-jwt
  background black
  text-align center
  -webkit-backface-visibility hidden
  backface-visibility hidden
  transform(translateZ(0))
  +breakpoint("tablet")
    padding 140px 0 60px
  +breakpoint("desktop")
    padding 150px 0 60px

  h1
    color white
    margin 25px 0 0
    +breakpoint("tablet")
      font-size 34px
    +breakpoint("desktop")
      font-size 40px

  p
    color white
    a
      color #00b9f1

  p
    font-size 20px
    color white
    +breakpoint("tablet")
      line-height 1.4
      font-size 24px
    +breakpoint("desktop")
      font-size 30px

    a
      font-weight bold
      text-decoration none

  .logo
    display inline-block
    img
      width 70px
      display block
      +breakpoint("desktop")
        width 80px

.update-site
  background: #e3e5e7
  padding: 14px 20px;
  font-size: 13px;
  text-align: center;
  color: darken(#e3e5e7, 70%)
  .paper
    margin-right: 4px;
    display: inline-block
    position: relative;
    bottom: -2px;
    font-size: 15px;
    opacity: .5
    height: 14px;
    width: 16px;
  span
    display: none
    +breakpoint("tablet")
      display: inline-block


  a
    text-decoration: none;
    font-weight: bold
    display: block;
    margin-top: 10px;
    +breakpoint("tablet")
      display: inline-block
      margin-top: 0;
      margin-left: 4px;
    svg
      fill: darken(#00b9f1, 20%)
      height: 14px;
      width: 12px;
      margin-bottom: -3px;

    &:hover svg
      fill: darken(#00b9f1, 50%)


// debugger-jwt

.jwt-select
  display inline-block
  position relative
  select
    background white
    width 100px
    height 38px
    font-size 12px
    padding 0 10px
    border 1px solid #D8D8D8
    border-radius 3px
    -webkit-appearance none
    -moz-appearance none
    appearance none
    outline 0
    &::-ms-expand
      display none
  &:after
    background url(/img/bg_arrow_select.svg) no-repeat
    width 8px
    height 6px
    content ''
    display inline-block
    position absolute
    top 16px
    right 10px

.jwt-playground
  .algorithm
    text-align center
    span
      font-weight bold
      text-transform uppercase
      font-size 12px
      vertical-align middle
    .jwt-select
      margin-left 10px

  .algorithm-code
    margin-top 35px
    .tab-nav
      grid(2, 0, '.tab-link')
      margin-bottom 20px

      .tab-link
        text-align center
        +breakpoint("tablet")
          text-align left
        &:nth-child(2)
          +breakpoint("tablet")
            padding-left 15px
        &.current
          border-bottom 6px solid #FB015B
          +breakpoint("tablet")
            border none
      a
        font-size 24px
        color black
        text-decoration none
        display block
        cursor default
        padding-bottom 5px
        +breakpoint("tablet")
          font-size 28px
          padding-bottom 0
        small
          font-size 10px
          color #979797
          text-transform uppercase
          margin-left 10px
          display none
          +breakpoint("desktop")
            display inline-block

    .tab-content
      +breakpoint("tablet")
        grid(2, 30px, '.box-content')

      .box-content
        height 0
        overflow hidden
        +breakpoint("tablet")
          height auto
        &.current
          height auto

      .input, .output
        border 1px solid rgba(#9B9B9B,.5)
        border-radius 3px

      .input
        padding 10px
        overflow scroll
        +breakpoint("tablet")
          padding 20px
          // &[data-alg="HS256"]
          //   min-height 550px
          // &[data-alg="RS256"]
          //   min-height 719px

      .jwt-explained
        .text-line
          margin 0
          font-size 12px
          color black
          clearfix()
          border-top 1px solid rgba(#9B9B9B,.5)
          border-bottom 1px solid rgba(#9B9B9B,.5)
          line-height 2.5
          padding 0 10px
          span
            color #979797
            margin-left 5px
            display none
            +breakpoint("desktop")
              display inline-block
          a
            float right

        &.jwt-header
          .text-line
            border-top none

        .CodeMirror-wrap
          padding 20px

        .pre-encode
          border none
          padding 20px
          line-height 1.8
          input, textarea
            border 1px solid #D0D2D3
            border-radius 3px
          textarea
            width 100%
            max-width 266px
            resize none
            &.error
              background-color #ffc0cb

  .validation-status
    text-transform capitalize
    color white
    text-align center
    border-radius 3px
    padding 10px 0
    margin-top 30px
    font-size 20px
    +breakpoint("tablet")
      font-size 30px
    &.valid-token
      background-color #00B9F1
    &.invalid-token
      background-color red
    i
      font-size 18px
      vertical-align bottom
      display inline-block
      margin-right 5px
      +breakpoint("tablet")
        font-size 24px


// libraries-jwt

.libraries-jwt
  background-color #e3e5e7

  @media (max-width: 767px)
    padding-bottom 0

  .title-header
    clearfix()
    text-align center
    +breakpoint("tablet")
      text-align left
    h1
      display inline-block
      +breakpoint("tablet")
        float left
    .filter
      display inline-block
      +breakpoint("tablet")
        float right

  .filter
    margin-bottom 30px
    +breakpoint("tablet")
      margin-top 8px
      margin-bottom 0
    span
      font-weight bold
      text-transform uppercase
      font-size 12px
      vertical-align middle
    .jwt-select
      margin-left 10px

  .warning
    background-color #FFFCD2
    font-size 11px
    color #4A4A4A
    text-align center
    padding 10px
    margin 0 -15px
    line-height 1.8
    color: darken(#FFFCD2, 80%)
    +breakpoint("tablet")
      font-size 14px
      margin 0 0 30px
      border-radius 3px
      padding 20px 0
    a
      color: darken(#FFFCD2, 80%)
      font-weight bold
      margin-left 5px
    svg
      height: 14px;
      width: 14px;
      fill: darken(#FFFCD2, 80%)
      margin-bottom: -2px;
  .libraries-sv
    margin 0 -15px

    @media (max-width: 767px)
      height auto!important

    +breakpoint("tablet")
      grid(2, 30px, 'article')
      margin 0
    +breakpoint("desktop")
      grid(3, 30px, 'article')

  article
    width 100%

    @media (max-width: 767px)
      position relative!important
      top auto!important
      left auto!important

    +breakpoint("tablet")
      margin-bottom 30px
      &:nth-child(2n+1)
        clear both

    +breakpoint("desktop")
      &:nth-child(2n+1)
        clear none
      &:nth-child(3n+1)
        clear both

    &.jwt-net
      .panel-heading h3
        background-color #2AA8E5
    &.jwt-python
      .panel-heading h3
        background-color #377EF0
    &.jwt-clojure
      .panel-heading h3
        background-color #5881d8
    &.jwt-node
      .panel-heading h3
        background-color #8AC244
    &.jwt-java
      .panel-heading h3
        background-color #E76F00
    &.jwt-js
      .panel-heading h3
        background-color #EFC825
    &.jwt-php
      .panel-heading h3
        background-color #777BB4
    &.jwt-ruby
      .panel-heading h3
        background-color #AA1100
    &.jwt-elixir
      .panel-heading h3
        background-color #4E2A8E
    &.jwt-go
      .panel-heading h3
        background-color #47B6C4
    &.jwt-haskell
      .panel-heading h3
        background-color #666
    &.jwt-rust
      .panel-heading h3
        background-color #814626
    &.jwt-lua
      .panel-heading h3
        background-color #000080
    &.jwt-scala
      .panel-heading h3
        background-color #EA2D2E
    &.jwt-d
      .panel-heading h3
        background-color #B44137
    &.jwt-q
      .panel-heading h3
        background-color #666
    &.jwt-c
      .panel-heading h3
        background-color #5180D2
    &.jwt-delphi
      .panel-heading h3
        background-color #E31C23
    &.jwt-perl
      .panel-heading h3
        background-color #3B477A


    .panel-heading
      img
        float left
        width 45px
        height: 45px;
        margin 10px
        +breakpoint("tablet")
          float none
          display block
          margin 0 auto -45px
          width 90px
          height: 90px;
      h3
        font-size 18px
        color white
        margin 0
        padding 20px 20px 20px 70px
        +breakpoint("tablet")
          padding 20px
          border-radius 3px 3px 0 0

    .panel-body
      grid(2, 0, '.column')
      background-color white
      padding 37px 20px 20px

      p
        font-size 18px
        margin 10px 0
        code
          background-color #f9f2f4
          color #c7254e
        i
          vertical-align middle
          margin-right 5px
          font-size 20px
          &.icon-budicon-500
            color #7ED321
          &.icon-budicon-501
            color #F0586A

      &.mversion
        padding-top 0

    .version
      background-color #FFFCD2
      color darken(#FFFCD2, 80%)
      font-size 12px
      text-align center
      padding 10px
      text-transform uppercase
      p
        margin 0
      a
        color rgba(black,.5)
        img
          width 13px
          margin 2px 0 0 5px
          color white
          vertical-align top

    .author-info
      background-color white
      clearfix()
      padding 20px
      border-top 1px solid rgba(#979797,.3)
      font-size 16px
      color #4A4A4A

      .maintainer
        float left
        font-size 12px
        line-height 1.5
        i
          vertical-align middle
          margin-right 2px
          font-size 17px
          height 25px
          display inline-block
        a
          color #4A4A4A
          text-decoration none
        .stars
          margin-left 15px

      .repository
        float right
        i
          height 24px
          display inline-block
          font-size 20px
          vertical-align middle
          margin-right 5px
        a
          font-size 12px
          color #4A4A4A
          text-decoration none

    .panel-footer
      background-color black
      border-radius 0 0 3px 3px
      padding 20px
      code
        font-size 12px
        color white
      a
        color white
        text-decoration none

    [data-content]
      +breakpoint("tablet")
        max-height 100%!important
        overflow visible!important


// sources

.sources
  background-color #222
  .columns
    +breakpoint("tablet")
      grid(3, 30px, '.column')

    .column
      margin-bottom 20px
      text-align center
      +breakpoint("tablet")
        margin-bottom 0

  h2
    font-size 30px
    color white
    text-align center
    margin 0
    font-weight normal

  .logotype
    img
      height 40px

  .hold
    min-height 70px
    margin-top 40px
    a
      text-decoration none

  .text-hold
    background-color #000
    color white
    text-align left
    padding 10px 15px
    border-radius 3px
    width 100%
    max-width 340px
    display inline-block
    font-size: 13px;
    a
      float right
      color white
      font-size 18px
      text-decoration none
      margin-top: 4px;
    p
      margin 0
      white-space nowrap
      text-overflow ellipsis
      overflow hidden
      line-height: 30px;
      font-family: "Roboto Mono", "Menlo"

  .tshirt
    text-align center
    h2
      margin-bottom 20px
    img
      max-width 180px
      width 100%
      display inline-block
      +breakpoint("tablet")
        max-width 227px
    a
      background-color #00B9F1
      color white
      max-width 180px
      margin 20px auto 0
      font-size 16px
      font-weight bold
      text-transform uppercase
      border-radius 3px
      padding 15px
      text-align center
      text-decoration none
      display block
      +breakpoint("tablet")
        max-width 270px


// tokens-created

.tokens-created
  background-color black
  text-align center
  color white
  font-size 20px
  line-height 1.8
  padding 30px 0
  +breakpoint("tablet")
    padding 60px 0
    font-size 26px

  img
    margin-bottom 35px

  p
    max-width 875px
    margin 5px auto

.btn, a.btn
  transition(background-color 0.2s ease)
  text-transform uppercase
  letter-spacing 2px
  font-weight bold
  border 1px solid #d0d2d3
  line-height 30px
  padding 15px 30px
  font-size 15px
  border-radius 3px
  text-decoration none
  display inline-block
  margin-top 30px
  &.btn-success
    background-color #eb5424
    color white
    border-color transparent
    &:hover
      background-color darken(#eb5424, 30%)
      color white

.btn, a.btn
  &.btn-lg
    background-color #D63AFF
    color white
    border none

  .token
    margin-top 35px
  h5
    font-size 14px
    font-weight normal
    margin 0 0 10px 0;
    color: #999;
    letter-spacing: 1px;


// plain-text

.plain-text
  .container
    max-width 630px

  h1
    font-size 25px
    font-weight 300
    color #333
    margin-top 10px
    line-height 1.3
    +breakpoint("mobile-landscape")
      font-size 40px

  & > h1, & > hr
    display none

  h2, h3, h4, h5, h6
    &.anchor-heading
      position relative

      .anchor
        display none
        +breakpoint("tablet")
          position absolute
          top 0
          left -25px
          visibility hidden
      &:hover
        +breakpoint("tablet")
          .anchor
            visibility visible

  h2, h3, h4
    font-weight 700
    color #333
    line-height 1.3

  h2
    font-size 20px
    margin-top 40px
    &:first-child
      margin-top 0

  h3
    font-size 16px

  h4, h5, h6
    font-size 13px
    text-transform uppercase
    letter-spacing 1px

  p, ul li
    color #5c666f
    font-size 16px
    line-height 2
    strong
      color #333
    code
      border-radius 4px
      font-size 90%
      padding 3px 8px
      background-color #F7F7F7

  blockquote
    background-color lighten(#F7F7F7, 55%)
    padding 60px 30px
    border-radius 3px
    margin 30px 0
    text-align center
    border none

    p
      margin 0
      font-size 12px
      +breakpoint("tablet")
        font-size 16px

    em
      font-size 18px
      line-height 1.5
      +breakpoint("tablet")
        font-size 25px

    strong
      display block
      margin-top 15px
      color rgba(#333,.5)
      text-transform uppercase

  sup
    font-size 90%

  img
    max-width 100%

  table
    border-collapse collapse
    width 100%
    margin 20px 0 30px

  thead tr th
    font-family Helvetica, Arial, sans-serif
    font-weight bold
    text-align center
    font-size 13px

  td, th
    border 1px solid #E0E0E0
    padding 0.5rem
    text-align left

  tbody tr:nth-child(odd)
    background rgba(#eee,.5)

  pre
    display block
    font-size 13px
    line-height 1.42857143
    color #333
    word-break break-all
    background-color #f5f5f5
    border-radius 4px
    margin-bottom 30px

  pre code
    font-size inherit
    border none
    border-radius 0


// go-tool

.go-tool
  text-align center
  border-top 1px solid #DDD
  p
    font-size 15px
    display inline-block
    text-transform uppercase
    +breakpoint("tablet")
      margin-right 20px
  .btn.btn-success
    background-color #D63AFF
    margin 0
    &:hover
      background-color darken(#D63AFF, 30%)


// footer

footer
  background-color black
  border-top 1px solid rgba(#979797,.4)
  padding 20px 0
  text-align center
  +breakpoint("tablet")
    text-align left
    padding 60px 0

  .columns
    color white
    font-size 14px
    +breakpoint("tablet")
      grid(3, 0, '.column')

    .column
      margin 15px 0
      +breakpoint("tablet")
        margin 0

    a
      color white
    img
      margin-left 5px

  .pull-request
    +breakpoint("tablet")
      text-align center
      font-size 16px
    span
      display block
      +breakpoint("desktop")
        display inline-block
    a
      color #00B9F1
      margin-left 5px

  .social-counter
    +breakpoint("tablet")
      text-align right
