@import 'mixins'
@import 'codemirror'
@import 'flip-clock'

/*
 * Webfont
 */


font-url(file)
  return '../../fonts/' + file

webfont(family, file, weight = 'normal')
  @font-face
    font-family family
    src url(font-url(file + '.eot'))
    src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
        url(font-url(file + '.woff')) format('woff'),
        url(font-url(file + '.ttf')) format('truetype'),
        url(font-url(file + '.svg#'+ family)) format('svg')
    font-weight weight
    font-style normal

webfont('DINCondensedBold', 'DINCondensedBold', 'normal')

/*
 * Principal style
 */

html
  position relative
  min-height 100%

body
  font-family: 'Whitney SSm A', 'Whitney SSm B', "Helvetica Neue", Helvetica, Arial, sans-serif;

pre,
code
  padding 0
  margin 0
  font-family Menlo !important

code
  font-size 80%

.container
  width 100%
  max-width 1200px
  padding 0 15px
  margin auto
  overflow hidden

section
  padding 60px 0
  h1
    color black
    text-align center
    margin 0 0 30px
    font-weight normal
    +breakpoint("tablet")
      font-size 38px

// navbar-fixed-top

.navbar
  background black
  margin 0
  border-radius 0
  border 0
  +breakpoint("tablet")
    width 100%
    min-height 80px
    border-bottom 1px solid rgba(#4A4A4A,.6)
    position fixed
    top 0
    z-index 100
  +breakpoint("desktop")
    min-height 100px

  .navbar-header
    width 100%
    text-align center
    clearfix()
    position relative

  .brand
    +breakpoint("tablet")
      position absolute
      left 0
      top 20px
    .icon
      +breakpoint("tablet")
        width 40px
        opacity 0
        transform(scale(0))
      +breakpoint("desktop")
        width 60px
    .logo
      +breakpoint("tablet")
        width 80px
        transition(.3s ease-in-out)
        transform(translateX(-40px))
      +breakpoint("desktop")
        width 100px
        transform(translateX(-60px))

  .navbar-nav
    float none
    +breakpoint("tablet")
      display inline-block
    li
      float none
      +breakpoint("tablet")
        display inline-block
        line-height 5.7
      +breakpoint("desktop")
        line-height 7
      a
        background none
        color #9B9B9B
        padding 0 15px
        display inline-block
        &:hover
          color rgba(white,.8)
        &.active
          color white

  .social
    +breakpoint("tablet")
      position absolute
      right 0
      top 28px
    +breakpoint("desktop")
      top 38px

  &.fixed
    .brand
      .icon
        +breakpoint("tablet")
          transition(.3s ease-in)
          opacity 1
          transform(scale(1))
      .logo
        +breakpoint("tablet")
          transform(translateX(10px))
        +breakpoint("desktop")
          transform(translateX(20px))


// banner-jwt

.banner-jwt
  background black
  text-align center

  +breakpoint("tablet")
    padding 160px 0 60px
  +breakpoint("desktop")
    padding 200px 0 100px

  p span
    opacity: 0;
    transition(opacity .5s ease-in-out)
  p span.active
    opacity: 1;

  p
    font-size 20px
    color white
    +breakpoint("tablet")
      line-height 1.4
      font-size 24px
    +breakpoint("desktop")
      font-size 30px

    a
      color white
      font-weight bold
      text-decoration none

  .logo
    width 70px
    display block
    margin 0 auto 20px
    +breakpoint("desktop")
      width 90px
      margin 0 auto 50px
    img
      width 100%


// jwt-playground

.jwt-select
  display inline-block
  position relative
  select
    background white
    width 100px
    height 38px
    font-size 12px
    padding 0 10px
    border 1px solid #D8D8D8
    border-radius 3px
    -webkit-appearance none
    -moz-appearance none
    outline 0
  &:after
    background url(/img/bg_arrow_select.svg) no-repeat
    width 8px
    height 6px
    content ''
    display inline-block
    position absolute
    top 16px
    right 10px

.jwt-playground
  .algorithm
    text-align center
    span
      font-weight bold
      text-transform uppercase
      font-size 12px
      vertical-align middle
    .jwt-select
      margin-left 10px

  .algorithm-code
    margin-top 35px
    .tab-nav
      grid(2, 0, '.tab-link')
      margin-bottom 20px

      a
        font-size 28px
        color black
        text-decoration none
        display block
        cursor default
        small
          font-size 12px
          color #979797
          text-transform uppercase
          margin-left 20px

    .tab-content
      +breakpoint("tablet")
        grid(2, 30px, '.box-content')

      .box-content
        display none
        +breakpoint("tablet")
          display block
        &.current
          display block

      .input, .output
        border 1px solid rgba(#9B9B9B,.5)
        border-radius 3px

      .input
        padding 20px

      .output
        none none
      .jwt-explained
        .text-line
          margin 0
          font-size 12px
          color #979797
          clearfix()
          border-top 1px solid rgba(#9B9B9B,.5)
          border-bottom 1px solid rgba(#9B9B9B,.5)
          line-height 2.5
          padding 0 10px
          span
            color black
          a
            float right

        &.jwt-header
          .text-line
            border-top none

        .CodeMirror-wrap
          padding 20px

        .pre-encode
          border none
          padding 20px
          input, textarea
            border 1px solid #D0D2D3
            border-radius 3px
          textarea
            width 100%
            max-width 266px
            resize none

  .validation-status
    text-transform capitalize
    color white
    font-size 30px
    text-align center
    border-radius 3px
    padding 10px 0
    margin-top 30px
    &.valid-token
      background-color #00B9F1
    &.invalid-token
      background-color red
    i
      font-size 24px
      vertical-align bottom
      display inline-block
      margin-right 5px


// library

.library
  background-color #EAEAEA

  h1
    text-align left

  .warning
    background-color #FFFCD2
    font-size 16px
    color #4A4A4A
    text-align center
    border-radius 3px
    padding 20px 0
    margin-bottom 30px
    a
      font-size 11px
      color rgba(#4A4A4A,.5)
      text-transform uppercase
      font-weight bold
      letter-spacing 1px
      margin-left 10px

  .filter
    float right
    margin-top 8px
    span
      font-weight bold
      text-transform uppercase
      font-size 12px
      vertical-align middle
    .jwt-select
      margin-left 10px

  .libraries-sv
    +breakpoint("tablet")
      grid(2, 30px, 'article')
    +breakpoint("desktop")
      grid(3, 30px, 'article')

  article
    width 100%
    margin-bottom 30px
    +breakpoint("tablet")
      &:nth-child(2n+1)
        clear both
    +breakpoint("desktop")
      &:nth-child(2n+1)
        clear none
      &:nth-child(3n+1)
        clear both

    &.jwt-net
      .panel-heading h3
        background-color #2AA8E5
    &.jwt-python
      .panel-heading h3
        background-color #377EF0
    &.jwt-node
      .panel-heading h3
        background-color #8AC244
    &.jwt-java
      .panel-heading h3
        background-color #E76F00
    &.jwt-js
      .panel-heading h3
        background-color #EFC825
    &.jwt-php
      .panel-heading h3
        background-color #777BB4
    &.jwt-ruby
      .panel-heading h3
        background-color #AA1100
    &.jwt-go
      .panel-heading h3
        background-color #47B6C4
    &.jwt-haskell
      .panel-heading h3
        background-color #666
    &.jwt-rust
      .panel-heading h3
        background-color #814626
    &.jwt-lua
      .panel-heading h3
        background-color #000080
    &.jwt-scala
      .panel-heading h3
        background-color #EA2D2E

    .panel-heading
      img
        display block
        margin 0 auto -45px
      h3
        font-size 18px
        color white
        margin 0
        padding 20px
        border-radius 3px 3px 0 0

    .panel-body
      grid(2, 0, '.column')
      background-color white
      padding 20px
      p
        font-size 18px
        code
          background-color #f9f2f4
          color #c7254e
        i
          vertical-align middle
          margin-right 5px
          font-size 20px
          &.icon-budicon-500
            color #7ED321
          &.icon-budicon-501
            color #F0586A

    .author-info
      background-color white
      clearfix()
      padding 20px
      border-top 1px solid rgba(#979797,.3)
      font-size 16px
      color #4A4A4A

      .maintainer
        float left
        i
          vertical-align middle
        a
          font-size 16px
          color #4A4A4A
          text-decoration none
        .stars
          margin-left 10px
          i
            margin-right 5px

      .repository
        float right
        i
          font-size 20px
          vertical-align middle
          margin-right 5px
        a
          font-size 14px
          color #4A4A4A
          text-decoration none

    .panel-footer
      background-color black
      border-radius 0 0 3px 3px
      padding 20px
      code
        font-size 12px
        color white
      a
        color white
        text-decoration none


// sources

.sources
  background-color #222228
  .columns
    grid(3, 30px, '.column')

  h2
    font-size 30px
    color white
    text-align center
    margin 0
    font-weight normal

  .badges
    .hold
      a
        background-color black
        color white
        font-size 12px
        padding 10px
        border-radius 35px
        display inline-block
        vertical-align bottom
        img
          vertical-align top
          margin-right 5px

  .hold
    text-align center
    min-height 70px
    margin-top 40px
    a
      text-decoration none

  .text-hold
    background-color #2D2D33
    color white
    text-align left
    padding 10px 15px
    border-radius 3px
    a
      float right
      color white
      font-size 20px
      text-decoration none
    p
      margin 0

  .tshirt
    text-align center
    h2
      margin-bottom 20px
    img
      display inline-block
    a
      background-color #00B9F1
      color white
      max-width 280px
      margin 20px auto 0
      font-size 16px
      font-weight bold
      text-transform uppercase
      border-radius 3px
      padding 15px
      text-align center
      text-decoration none
      display block


// tokens-created

.tokens-created
  background-color black
  text-align center
  color white
  font-size 26px
  padding 60px 0

  img
    margin-bottom 35px

  p
    max-width 875px
    margin 5px auto

  .token
    margin-top 35px
  h5
    font-size 14px
    font-weight normal
    margin 0


// footer

footer
  background-color black
  border-top 1px solid rgba(#979797,.4)
  padding 60px 0

  .columns
    grid(3, 0, '.column')
    color white
    font-size 14px
    a
      color white
    img
      margin-left 5px

  .pull-request
    text-align center
    font-size 16px
    a
      color #00B9F1
      margin-left 5px
