@import 'mixins'
@import 'bs-select'
@import 'codemirror'
@import 'flip-clock'

/*
 * Webfont
 */


font-url(file)
  return '../../fonts/' + file

webfont(family, file, weight = 'normal')
  @font-face
    font-family family
    src url(font-url(file + '.eot'))
    src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
        url(font-url(file + '.woff')) format('woff'),
        url(font-url(file + '.ttf')) format('truetype'),
        url(font-url(file + '.svg#'+ family)) format('svg')
    font-weight weight
    font-style normal

webfont('DINCondensedBold', 'DINCondensedBold', 'normal')

/*
 * Principal style
 */

html
  position relative
  min-height 100%

body
  margin-bottom 60px

body
  font-family: 'Whitney SSm A', 'Whitney SSm B', "Helvetica Neue", Helvetica, Arial, sans-serif;

h1
  margin-bottom 0

h4
  small
    line-height 1.8

pre,
code
  padding 0
  margin 0
  font-family Menlo !important

code
  font-size 80%

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover
  color black

.navbar-default
  .navbar-brand
    font-weight bold
    color black
    text-transform uppercase
    color black
    font-size 14px
    letter-spacing .5px
    margin-right 30px

  &.navbar-fixed-top
    background rgba(255, 255, 255, 0.9)
    border 0
    color white

  &.moved .navbar-brand
    +breakpoint("desktop")
      margin-right -38px

.vulnerable-badge
  text-align right
  float right
  line-height 17px
  text-transform uppercase
  color red

.patched-badge
  text-align right
  float right
  line-height 17px
  text-transform uppercase
  color orange

.panel
  box-shadow none
  background #fff
  border 0
  overflow hidden
  &.vulnerable
    border 2px solid red
    .panel-heading
      background none
    .panel-body
      code
        background none
  &.patched
    border 2px solid orange
    .panel-heading
      background none
    .panel-body
      code
        background none
  .panel-heading
    background none
  .stars
    display none

.panel .icon-budicon-466,
.panel .icon-budicon-333
  position relative
  top 2px
  opacity .5

.panel .author-info .maintainer > a,
.panel .author-info > a
  color #4d4d4d

.panel-footer
  font-size 14px
  padding 0
  code
    background #222
    color #ccc
    display block
    padding 15px
    border-radius 0
    color white
    font-size 12px
    a
      color white

.hn-button
  margin-right 20px

.panel-title
  font-weight bold

.panel-body
  padding 0
  .row
    padding 15px
    div
      margin-bottom 4px
      i
        position relative
        top 2px

.icon-budicon-500
  color #65a52f

.author-info
  border-top 1px solid #f1f1f1
  padding 15px
  &:after
    clear both
    display block
    content ""
  .repository
    float right
  .repository-left
    float none

.author-info .maintainer,
.author-info .repository
  display inline-block

.banner
  background linear-gradient(120deg, #14204d 0%, #3cc8f4 100%)
  img
    width 140px
  a
    color white
  p
    font-size 150%
  .btn
    min-width 200px

.bg-grey
  background #f6f6f6
  margin-top 60px
  padding-bottom 40px


.jwt-playground
  width 100%
  h4
    font-size 14px
    text-transform uppercase
  .input
    border 1px solid #44C7F4
    padding 10px
    margin-bottom 2px
    border-radius 3px
    background #ffffff
    &.error
      background pink
    .CodeMirror
      width 100%
      background none
      font-size 20px
      line-height 30px
      height auto
      .cm-jwt-dot
        color #000000
      .cm-jwt-header
        color #859900
      .cm-jwt-payload
        color #268bd2
      .cm-jwt-signature
        color #dc322f
  .algorithm-label
    margin-right 20px
  .output
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    .jwt-explained
      background #ffffff
      padding inherit
      border 1px solid #ECECEC
      padding 10px
      margin-bottom 2px
      pre
        font-size 16px
        line-height 26px
      &.error
        background rgba(100, 0, 0, 0.1)
      .CodeMirror
        width 100%
        height auto
        background none
    .jwt-header
      color #859900
    .jwt-payload
      color #268bd2
    .jwt-signature
      color #dc322f
      font-family monospace
      pre
        background-color transparent
        border 0
        color #dc322f
      span
        &.is-base64-encoded-label
          font-size x-small
      input[name='secret']
        border-radius 4px
        border 1px solid #dfdfdf
      textarea
        border 1px solid #dfdfdf
        font-size 12px
        line-height 18px
        width 350px
        max-width 100%
        border-radius 4px
        &.error
          border 1px solid red
  .validation-status
    background #ffffff
    padding 15px
    margin-top 20px
    clear both
    text-align center
    width 100%
    font-size 20px
    color white
    text-transform uppercase
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    &.valid-token
      background #7ed321
    &.invalid-token
      background #ff0000


.library
  div
    i
      padding-right 4px


#footer
  position absolute
  bottom 0
  width 100%
  height 60px
  background-color #f5f5f5
  & > .container
    padding-right 15px
    padding-left 15px



.container
  .text-muted
    margin 20px 0


.navbar-right
  height 20px



.bs-searchbox,
.bs-actionsbox
  padding 4px 8px

.bs-actionsbox
  float left
  width 100%
  box-sizing border-box
  .btn-group
    button
      width 50%

.bs-searchbox
  & + .bs-actionsbox
    padding 0 8px 4px
  input
    &.form-control
      margin-bottom 0
      width 100%

.mobile-device
  position absolute
  top 0
  left 0
  display block !important
  width 100%
  height 100% !important
  opacity 0

///+++++++======

body
  margin 0

.container
  width 100%
  max-width 1200px
  padding 0 15px
  margin auto

.tabs
  clear both
  +breakpoint("desktop")
    margin 0 -5px

.jwt-playground
  padding 0 24px
  // margin 0 -15px
  position relative
  overflow hidden
  width auto
  .output
    float right
    margin 10px 0 0 0
    height auto
    padding 0
    width 100%
    border 1px solid rgba(155,155,155,0.50)
    border-radius 3px
    overflow hidden
    +breakpoint("desktop")
      float right
      display block !important
      margin 0 -3px
      height auto
      padding 0
      width 49%
      border 1px solid rgba(155,155,155,0.50)
      border-radius 3px
      overflow hidden
    .text-line
      font-size 12px
      color #979797
      line-height 12px
      border-top 1px solid rgba(155,155,155,0.50)
      border-bottom 1px solid rgba(155,155,155,0.50)
      margin -12px -12px
      padding 10px 13px 8px 13px
      a
        display none
        +breakpoint("desktop")
          display block
          float right
      +breakpoint("desktop")
        font-size 12px
        color #979797
        line-height 12px
        border-top 1px solid rgba(155,155,155,0.50)
        border-bottom 1px solid rgba(155,155,155,0.50)
        margin -12px -12px
        padding 10px 13px 8px 13px
      span
        color #000000
    .jwt-signature
      pre
        color #00B9F1
        font-size 14px
        line-height 19px
        margin 28px 0 0 18px
    .jwt-explained
      border none
      background #ffffff
      box-shadow none

  .CodeMirror-code
    margin 30px 0 7px 0
    padding 0
  .CodeMirror-wrap
    +breakpoint("desktop")
      padding 0 0 0 20px
  .algorithm
    text-align center
    position relative
    z-index 99
  .algorithm-label
    margin 0 3px 0 0
    display inline-block
    font-size 10px
    line-height 18px
    text-transform uppercase
    color #000
    +breakpoint("desktop")
      margin 0 4px 0 0
      font-size 12px
      line-height 18px
  .tab-nav
    position relative
    z-index 9
    ul
      padding 31px 0 0 0
      margin 0
      overflow hidden
      border-bottom 1px solid #979797
      margin 0 -24px
      padding 31px 24px 0 24px
      +breakpoint("desktop")
        border-bottom none
        margin 0 -24px
        padding 43px 24px 0 24px
    li
      width 50%
      float left
      padding 0
      margin 0
      list-style none
      +breakpoint("desktop")
        padding 0 5px 13px 5px
      &:nth-child(2)
        +breakpoint("desktop")
          padding-left 26px
      a
        font-size 26px
        color #000000
        line-height 32px
        text-transform none
        font-weight normal
        text-align center
        padding-bottom 6px
        display block
        position relative
        +breakpoint("desktop")
          text-align left
          font-size 30px
          color #000000
          line-height 36px
        small
          display none
          +breakpoint("desktop")
            display inline-block
            font-size 12px
            color #979797
            line-height 12px
            float none !important
            text-transform uppercase
            margin 0 10px
            position relative
            top -2px
      &.current
        a
          border-bottom 5px solid #FB015B
          +breakpoint("desktop")
            border-bottom none
  .CodeMirror-wrap
    +breakpoint("desktop")
      padding 0 0 0 20px
  .input
    border none
    padding 0
    margin-bottom 0
    background #ffffff
    box-shadow none
    margin 0 -3px

    height 146px
    padding-top 20px
    +breakpoint("desktop")
      margin 0 -3px
      padding 0 10px
      width 49%
      border 1px solid rgba(155,155,155,0.50)
      border-radius 3px
      display block !important
      float left
    .CodeMirror-code
      +breakpoint("desktop")
        margin 22px 0 7px 0
        padding 0
    &:hover
      box-shadow none
    .CodeMirror
      .cm-jwt-header

        font-size 15.5px
        color #FB015B
        line-height 25px
        +breakpoint("desktop")
          font-size 18px
          line-height 30px
      .cm-jwt-payload

        color #E05EFF
        font-size 15.5px
        line-height 25px
        +breakpoint("desktop")
          font-size 18px
          line-height 30px
      .cm-jwt-signature

        color #00B9F1
        font-size 15.5px
        line-height 25px
        +breakpoint("desktop")
          font-size 18px
          line-height 30px
  .tab-content
    display none
  .validation-status
    &.valid-token
      display none
      +breakpoint("desktop")
        display block
    &.invalid-token
      display none
      +breakpoint("desktop")
        display block
        margin 30px -27px
        width auto
        background #00B9F1
        border-radius 3px
        font-size 30px
        color #FFFFFF
        line-height 86px
        height 80px
        padding 0
        text-transform none
.jwt-playground .output .jwt-explained
  margin-bottom 0
.jwt-playground .output .jwt-explained pre,
.jwt-playground .output .jwt-header .CodeMirror .cm-property
  color #FB015B
  font-size 14px
  line-height 19px

.jwt-playground .output .jwt-payload .CodeMirror .cm-atom,
.jwt-playground .output .jwt-payload pre,
.jwt-playground .output .jwt-payload .CodeMirror .cm-string
  color #D63AFF

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header
  height 65px
  background #000000
  border-top 1px solid #2d2d2d
  max-height none
  +breakpoint("desktop")
    height 100px
    background none

.navbar-brand
  height auto
  padding 0
  margin 23px 0 0 25px

.navbar
  +breakpoint("desktop")
    height 100px
    background #000000

.navbar-default

  &.navbar-fixed-top
    +breakpoint("desktop")
      background #000
      border-bottom 1px solid #2c2c2c
  .navbar-toggle
    border none
    margin-top 16px
    background url(../../img/ico_close.svg) no-repeat 50% 50%
    background-size 22px 22px
    .icon-bar
      background-color transparent
    &.collapsed
      background transparent
      .icon-bar
        background-color #fff
  .navbar-brand
    img
      +breakpoint("desktop")
        height: 26px;
        margin-top: 13px;

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
  background-color transparent !important

.banner-jwt
  background #000
  text-align center
  position relative
  z-index 9
  padding-bottom 28px

  +breakpoint("desktop")
    padding 200px 0 100px 0;

  p
    font-size 22px
    line-height 29px
    +breakpoint("desktop")
      font-size 30px
      color #FFFFFF
      line-height 56px
      font-weight 300
      max-width: 900px;
      margin: auto;
      strong
        font-weight normal
      span
        font-size 32px
        font-weight normal

    &:last-child
      margin-bottom: 0;
      +breakpoint("desktop")
        margin-top: 10px;

  .logo
    width 67px
    display block
    margin -7px auto 23px auto
    +breakpoint("desktop")
      width 90px
      margin 0 auto 45px auto
    img
      width 100%
      height 77px
      +breakpoint("desktop")
        height auto

h1
  font-size 34px
  color #000000
  line-height 38px
  font-weight normal
  text-align center
  +breakpoint("desktop")
    font-size 40px
    line-height 48px
    padding-top 22px
    padding-bottom 4px

.bootstrap-select
  &:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
    width 87px
    display inline-block
    height 31px
    +breakpoint("desktop")
      width 101px
      height 37px
  & > .btn
    font-size 10px
    height 33px
    padding-left 10px
    letter-spacing 0
    +breakpoint("desktop")
      font-size 12px
      height 37px

.bg-grey
  border none
  padding 0
  +breakpoint("desktop")
    margin-top 52px
    background #eaeaea
    padding-bottom 56px
  h1
    font-size 31px
    line-height 37px
    letter-spacing 0
    padding-bottom 10px
    +breakpoint("desktop")
      font-size 36px
      color #000000
      line-height 37px
      font-weight normal
      letter-spacing 0
      padding-bottom 20px
  .page-header
    border none
    margin 45px 0 20px
  .algorithm
    +breakpoint("desktop")
      float right
      margin 0
      position relative
      top 22px
      right -18px
    label
      +breakpoint("desktop")
        font-size 12px
        padding-right 7px
  .row
    +breakpoint("desktop")
      margin 0 -20px
    +breakpoint("desktop-big")
      margin 0
  .col-md-4
    +breakpoint("desktop")
      margin 0 1.666% 70px 1.666%
      width 30%
      +breakpoint("desktop-big")
        margin 0 15px 70px 15px
        width 375px

.page-header
  border-bottom none
  padding-bottom 4px

.jwt-playground .CodeMirror-vscrollbar,
.jwt-playground .CodeMirror-measure,
.jwt-playground .CodeMirror-hscrollbar
  display none !important

pre

  background none

.alert-danger
  color #4A4A4A
  background-color #fffcd3
  border none
  margin 0 -15px
  font-size 12px
  line-height 18px
  padding 20px 60px 20px 36px
  text-align: center;
  +breakpoint("desktop")
    color #4A4A4A
    background-color #fffcd3
    border none
    margin 0 -15px
    padding 24px;
    font-size 16px
    color #4A4A4A
    line-height 14px
    margin-bottom 90px
  em
    +breakpoint("desktop")
      font-style normal
  .more
    border-bottom: 1px solid #ccc;
    text-decoration: none;

.panel
  margin 0 -15px
  background #f9f9f9
  border-radius 0
  +breakpoint("desktop")
    overflow visible
  h3
    color #fff
    font-size 15px
    line-height 36px
    +breakpoint("desktop")
      line-height 54px
      font-size 18px
      color #FFFFFF
      padding-left 8px
    img
      width 28px
      margin -3px 12px 0 -2px
      +breakpoint("desktop")
        width auto
        position absolute
        top -37px
        left 50%
        margin-left -43px
  .panel-heading
    background #2aa8e5
    height 51px
    border-radius 0
    border none
    +breakpoint("desktop")
      border-radius 3px 3px 0px 0px
      height 60px
      position relative
      line-height 60px
      font-size 18px
      color #FFFFFF
      line-height 14px
    &.color-2
      background #8AC244
    &.color-3
      background #e76f00
    &.color-4
      background #377EF0
    &.color-5
      background #777BB4
    &.color-6
      background #EFC825
    &.color-7
      background #AA1100
    &.color-8
      background #48b6c4
    &.color-9
      background #666666
    &.color-10
      background #814626
    &.color-11
      background #010080
    &.color-12
      background #ea2e2f
  .star-ico
    font-size 12px
    float right
    line-height 18px
    margin 0 15px 0 0
    background-size 17px auto
    padding 1px 0 0 20px
    +breakpoint("desktop")
      font-size 14px
      line-height 22px
      margin 0 20px 0 0
      background-size auto auto
      background-position 0 4px
      padding 1px 0 0 22px
  &.patched
    border none
  .stars
    +breakpoint("desktop")
      display block
      font-size 14px
      min-height 30px
      min-width 1px
      line-height 34px
  .icon-budicon-333
    +breakpoint("desktop")
      font-size 20px !important
      margin-left 8px
      float left
      margin-top 2px
  .icon-budicon-466
    +breakpoint("desktop")
      font-size 20px
      margin-left 8px
      float left
      margin-top 2px
      margin-left 13px
      line-height 28px
      float left

.panel-body
  .row
    div
      +breakpoint("desktop")
        margin-bottom 6px
      .icon-check
        background url(../../img/ico_status.svg) no-repeat
        height 18px
        width 18px
        display block
        background-size 18px 36px
        display block
        float left
        background url(../../img/ico_status.svg) no-repeat
        height 17px
        width 17px
        display block
        background-size 17px 34px
        display block
        float left
        position relative
        top 2px
        margin-right 8px
        font-size 15px
        line-height 20px
        +breakpoint("desktop")
          height 20px
          width 20px
          background-size 20px 40px
          top 1px
          margin-right 8px
          font-size 18px
          line-height 20px
      .icon-cross
        background url(../../img/ico_status.svg) no-repeat 0 -17px
        height 17px
        width 17px
        display block
        background-size 17px 34px
        display block
        float left
        position relative
        top 2px
        margin-right 8px
        font-size 15px
        line-height 20px
        +breakpoint("desktop")
          background url(../../img/ico_status.svg) no-repeat 0 -20px
          height 20px
          width 20px
          background-size 20px 40px
          top 1px
          margin-right 8px
          font-size 18px
          line-height 20px
    & > div
      padding 15px 0 0 36px
      +breakpoint("desktop")
        padding 29px 0 0 22px
        font-size 18px
        line-height 24px
      +breakpoint("desktop-big")
        padding 29px 0 0 27px
        font-size 18px
        line-height 24px
      .grey
        color #9B9B9B
    & > .right
      padding 15px 0 5px 52px
      +breakpoint("desktop")
        padding 29px 0 5px 23px
      +breakpoint("desktop-big")
        padding 29px 0 5px 63px

.author-info
  border-top 1px solid #979797
  padding 13px 15px 13px 34px
  +breakpoint("desktop")
    margin-top 4px
    border-top 2px solid #efefef
    padding 13px 15px 9px 34px
  .repository
    font-size 19px
    color #000
    margin -1px 20px 0 0
    +breakpoint("desktop")
      float right
      margin -32px 25px 0 0

    a
      +breakpoint("desktop")
        font-size 14px
        color #4A4A4A
        line-height 14px
        color #000
    .fa
      +breakpoint("desktop")
        font-size 22px
        top 2px
        position relative
  .maintain
    +breakpoint("desktop")
      float: left
  &.type-2
    .repository
      +breakpoint("desktop")
        margin 3px 25px 0 0
      .fa
        +breakpoint("desktop")
          font-size 22px
  .maintainer
    +breakpoint("desktop")
      float left
    span
      +breakpoint("desktop")
        font-size 14px
        line-height 25px
        position relative
        top 4px
        left 3px

.hid-m
  display none
  +breakpoint("desktop")
    display none !important
.moved.navbar-default .navbar-brand img.hid-m
  +breakpoint("desktop")
    display block !important
    float left
    width 54px
    height 54px
    margin-right 14px
    margin-top -1px

.navbar-toggle:not(.collapsed) + .navbar-brand .hid-m
  display block
  float left
  width 26px
  height 26px
  margin-right 8px
  margin-top -4px

.panel .icon-budicon-466, .panel .icon-budicon-333
  opacity 1
  font-size 17px

.panel-footer
  code
    padding 15px 15px 18px 35px
    +breakpoint("desktop")
      padding 20px 15px 23px 43px
      background #000000
      line-height 18px
      border-radius 0px 0px 3px 3px

.panel-wrap
  display none
  &.active
    display block
  +breakpoint("desktop")
    height auto !important
    display block !important

.bt-con
  background #232228
  text-align center
  padding 19px 0 0 0
  .container
    padding 0
  .col-md-4
    border-bottom 1px solid #2e2d33
    padding-bottom 9px
    +breakpoint("desktop")
      border-bottom none
      padding-bottom 4px
  h3
    font-size 26px
    color #FFFFFF
    line-height 30px
    font-weight normal
    padding-bottom 4px
    +breakpoint("desktop")
      font-size 30px
      color #FFFFFF
      line-height 36px
      padding-top 17px
  .hold
    padding-bottom 14px
    +breakpoint("desktop")
      padding-bottom 14px
      padding-top 2px
    a
      background #000000
      display inline-block
      font-size 10px
      height 30px
      line-height 30px
      color #fff
      border-radius 183.6px
      padding 0 10px
      +breakpoint("desktop")
        font-size 12px
        height 35px
        line-height 35px
        padding 0 12px
        margin-bottom 3px
      img
        width 15px
        margin-right 6px
        +breakpoint("desktop")
          width auto
          margin-right 8px
    &.type-2
      a
        background none
        padding 0 10px
        margin-bottom 3px
        +breakpoint("desktop")
          margin-bottom 3px
        img
          width 33px
          margin-right 0
          +breakpoint("desktop")
            width auto
            position relative
            top -3px
    &.type-3
      a
        background none
        padding 0 10px
        margin-bottom -1px
        margin-top 2px
        img
          width 73px
          margin-right 0
          +breakpoint("desktop")
            width auto
            margin-right 0
            margin-bottom 2px
  .text-hold
    height 33px
    border-radius 4px
    line-height 33px
    cursor pointer
    background #2e2d33
    color #fff
    font-size 12px
    margin 18px 32px
    text-align left
    padding 0 13px
    +breakpoint("desktop")
      height 40px
      line-height 40px
      font-size 14px
      margin 18px 32px 20px 32px
      padding 0 15px
      position relative
    &:after
      +breakpoint("desktop")
        position absolute
        content ""
        background url(../../img/ico_enlarge.svg) no-repeat
        width 17px
        height 20px
        display block
        top 9px
        right 13px
    p
      line-height 35px
      margin 0
      +breakpoint("desktop")
        line-height 44px
  .col-2
    padding-top 6px
    padding-bottom 14px
    +breakpoint("desktop")
      padding-top 0
  .tshirts
    background #222228
    box-shadow 0px 2px 14px 0px rgba(0,0,0,0.50)
    border-radius 3px
    margin 33px 30px 20px 30px
    padding 17px 12px 14px 12px
    +breakpoint("desktop")
      margin 8px 52px 20px 6px
      padding 18px 12px 14px 12px
    img
      width 195px
      margin 0 auto 18px auto
      display block
      +breakpoint("desktop")
        width auto
        margin 0 auto 24px auto
    .hover
      display none
    &:hover .normal
      display none
    &:hover .hover
      display block
    .buy
      background #00B9F1
      border 1px solid rgba(0,0,0,0.50)
      border-radius 3px
      font-size 14px
      color #FFFFFF
      letter-spacing 0.88px
      line-height 19px
      display block
      height 52px
      line-height 52px
      +breakpoint("desktop")
        font-size 16px
        height 62px
        line-height 62px

.mobile-no
  display none
  +breakpoint("desktop")
    display block

.banner
  background #000
  padding 53px 0 128px 0
  overflow hidden
  margin 0
  text-align: center;
  +breakpoint("desktop")
    padding 78px 0 252px 0
  .container
    padding 0
  img
    width 125px
    margin 0 auto 20px auto
    +breakpoint("desktop")
      width auto
      margin 0 auto 30px auto
  p
    font-size 17px
    line-height 26px
    padding 0 20px
    color: #ccc;
    +breakpoint("desktop")
      font-size 26px
      line-height 40px
      padding 0
      max-width 800px
      margin auto

  .note
    font-size 10px
    display block
    text-align center
    letter-spacing 2px
    max-width none
    line-height 14px
    margin 5px 0 30px 0
    +breakpoint("desktop")
      font-size 14px
      line-height 24px
      margin 7px 0 40px 0
      max-width none
  .counter
    margin 39px 0 0 0
    +breakpoint("desktop")
      margin 56px 0 0 0

.btn.btn-lg, a.btn.btn-lg
  line-height 55px
  padding 0
  height 51px
  font-size 12px
  width 236px
  text-align center
  +breakpoint("desktop")
    line-height 62px
    padding 0
    height 62px
    font-size 14px
    width 276px

.desktop-only
  display none
  +breakpoint("desktop")
    display inline-block

.mobile-only
  display inline-block
  +breakpoint("desktop")
    display none !important
.steps
  margin 0 -15px
  display block
  .select
    height 62px
    background #232228 url(../../img/bg_steps.svg) no-repeat 95% 50%
    line-height 62px
    display block
    padding 0 24px
    font-size 12px
    font-weight 600
    color #fff
    text-transform uppercase
  li,
  ul
    padding 0
    margin 0
  ul
    padding-bottom 15px
    background #232228
  li
    a
      line-height 22px
      display block
      padding 0 24px
      font-size 12px
      font-weight 600
      color #fff
      text-transform uppercase

.sidebar
  display none
  +breakpoint("desktop")
    display block
    margin-top 91px
    float right
    width 283px
    padding 17px 0 10px
    border 1px solid #dddddd
    border-radius 4px
  h4
    +breakpoint("desktop")
      font-size 13px
      text-transform uppercase
      text-align left
      color #333333
      margin 0
      border-top 1px solid #ebebeb
      padding 27px 28px 30px
  .btn
    +breakpoint("desktop")
      display block
      color #fff
      border-color transparent
      margin 0 28px 27px
      opacity 1
      background #d63aff
      line-height 43px
      padding 0
      letter-spacing 1px
      height 43px
      font-size 14px
    &:hover
      +breakpoint("desktop")
        background #a829c9
  p
    +breakpoint("desktop")
      text-align center
      font-size 13px
      line-height 20px
      padding 15px 28px 13px
      margin 0
  ul
    +breakpoint("desktop")
      font-size 14px
      text-align left
      color #333333
      line-height normal
      margin 0
      padding 0 28px
    li
      +breakpoint("desktop")
        list-style none
        margin 0
        padding 0 0 11px
    a
      +breakpoint("desktop")
        color #333333
      &:hover
        +breakpoint("desktop")
          color #bc0edf
    .current
      a
        +breakpoint("desktop")
          color #bc0edf
          font-weight 600


.entry
  padding 23px 9px
  font-size 14px
  color #000
  +breakpoint("desktop")
    float left
    width 55.49%
    padding-top 73px
  p
    line-height 24px
    margin 0
    padding 0 0 23px
    +breakpoint("desktop")
      line-height 28px
      padding-bottom 0
      display inline
  .label
    font-size 12px
    color #fff
    font-weight normal
    font-family Menlo
    line-height 18px
    padding 0 5px
    display inline-block
    background #d63aff
    +breakpoint("desktop")
      line-height 21px
  pre
    background #f4f4f4
    border 1px solid #d5d5d5
    font-family Menlo
    border-radius 3px
    padding 10px
    word-wrap normal
    word-break normal
    background #f4f4f4
    border 1px solid #d5d5d5
    font-family Menlo
    font-size 12px
    display block
    border-radius 3px
    margin-top -12px
    margin-bottom 24px
    padding 18px 22px
    +breakpoint("desktop")
      margin 40px 0 57px
      font-size 12px
      padding-top 21px
      padding-bottom 19px
      line-height 19px
  code
    display block
    white-space nowrap
    padding 0
    margin 0
    border 0
    span
      display inline-block
      min-width 13px
  h2
    padding 0 0 16px
    font-size 20px
    line-height 20px
    font-weight normal
    margin 0
    +breakpoint("desktop")
      font-size 22px
      padding-bottom 39px



.btn.btn-purple.btn-lg, a.btn.btn-purple.btn-lg
  display none
  &.hidden-lg
    display inline-block
    color #fff
    border-color transparent
    margin 25px 0 16px
    opacity 1
    background #d63aff
    line-height 52px
    padding 0
    letter-spacing 1px
    height 52px
    font-size 14px
    width 236px
    &:hover
      background #a829c9
    +breakpoint("desktop")
      display none
  +breakpoint("desktop")
    display inline-block
    color #fff
    border-color transparent
    margin 42px 0 -58px
    opacity 1
    background #d63aff
    line-height 62px
    padding 0
    height 62px
    font-size 14px
    width 276px
    &:hover
      background #a829c9

#footer
  height 82px
  border-top 1px solid #313131
  background #000
  &.static
    position relative
  +breakpoint("desktop")
    height 120px
    border-top 2px solid #313131
  .container
    padding 0
  .design
    display none
    +breakpoint("desktop")
      display block
      float left
      font-size 14px
      color #FFFFFF
      line-height 17px
      margin 45px 0 0 34px
    a
      +breakpoint("desktop")
        color #FFFFFF
      img
        +breakpoint("desktop")
          position relative
          top -2px
          right -7px
  .twitter
    display none
    +breakpoint("desktop")
      display block
      float right
      background url(../../img/ico_twitter.svg) no-repeat
      height 25px
      width 25px
      margin 45px 0 0 0
    +breakpoint("desktop-big")
      margin 45px -18px 0 0
    a
      +breakpoint("desktop")
        display block
        height 25px
        width 25px
  .ft-note
    width 300px
    position absolute
    top 33px
    left 50%
    text-align center
    margin-left -150px
    font-size 14px
    line-height 14px
    color #fff
    +breakpoint("desktop")
      width 320px
      top 48px
      margin-left -160px
      font-size 16px
      line-height 16px

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover
  color #FFFFFF
  background none

.navbar-nav
  padding-top 79px
  padding-bottom 63px
  +breakpoint("desktop")
    padding-top 0
    padding-bottom 0
    float left
    margin 29px 0 0 325px
  & > li
    & > a
      text-align center
      color #fff
      font-size 34px
      line-height 34px
      color #fff
      margin-bottom 15px
      +breakpoint("desktop")
        font-size 14px
        color #FFFFFF
        line-height 14px

.navbar-collapse
  .design
    color #fff
    font-size 12px
    text-align center
    display block
    border-top 1px solid #2d2d2d
    margin 0 -15px
    padding 24px 0 29px 0
    +breakpoint("desktop")
      display none
    img
      width 15px
      margin-left 4px

  +breakpoint("desktop")
    .twitter
      float right
      margin 36px -15px 0 0

@media (max-width: 994px)
  .jwt-playground .input, .jwt-playground .output
    min-height 0 !important
  .jwt-playground .CodeMirror-code
    padding-top 0
    padding-bottom 0
  .jwt-playground .input
    height auto
  .filter-set
    height auto !important

  .bg-grey
    .col-md-4
      position static !important

.filter-set
  +breakpoint("desktop-big")
    margin 0 -33px
