.CodeMirror
  zoom 1
  font-family 'Roboto Mono', Menlo
  outline none
  height auto
  *
    outline none
    box-shadow none

.jwt-playground .input
  &.error
    background pink
  .CodeMirror
    font-size 20px
    line-height 30px
    .cm-jwt-dot
      color black
    .cm-jwt-header
      color #FB015B
    .cm-jwt-payload
      color #D63AFF
    .cm-jwt-signature
      color #00B9F1

.jwt-playground .output .jwt-explained pre
  font-size 14px
  line-height 1.5

.jwt-playground .output .jwt-header
  .text-line a, .CodeMirror *
    color #FB015B

.jwt-playground .output .jwt-payload
  .text-line a, .CodeMirror *
    color #D63AFF

#js-payload-tooltip
  position absolute
  background-color #00b9f1
  display none
  color white
  z-index 9999
  padding 0 4pt
  margin-left 4pt

.jwt-playground .output .jwt-signature
  .text-line a, pre
    color #00B9F1