.CodeMirror
  zoom 1
  font-family 'Source Code Pro'
  outline none
  *
    outline none
    box-shadow none

.jwt-playground .output .jwt-header .CodeMirror,
.jwt-playground .output .jwt-header .CodeMirror .cm-atom,
.jwt-playground .output .jwt-header .CodeMirror .cm-number,
.jwt-playground .output .jwt-header .CodeMirror .cm-property,
.jwt-playground .output .jwt-header .CodeMirror .cm-string
  color #fb015b
.jwt-playground .output .jwt-header .CodeMirror .cm-string
  color #fb015b !important

.jwt-playground .output .jwt-header .text-line a,
.jwt-playground .output .jwt-header .CodeMirror .cm-string
  color #fb015b !important


.jwt-playground .output .jwt-payload .text-line a
  color #d63aff !important


.jwt-playground .output .jwt-signature .text-line a,
.jwt-playground .output .jwt-signature pre,
.jwt-playground .output .jwt-signature .CodeMirror .cm-property
  color: #00b9f1 !important

.jwt-playground .output .jwt-header .CodeMirror,
.jwt-playground .output .jwt-header .CodeMirror .cm-property,
.jwt-playground .output .jwt-header .CodeMirror .cm-string,
.jwt-playground .output .jwt-header .CodeMirror .cm-atom,
.jwt-playground .output .jwt-header .CodeMirror .cm-number
  color #859900

.jwt-playground .output .jwt-payload .CodeMirror,
.jwt-playground .output .jwt-payload .CodeMirror .cm-property,
.jwt-playground .output .jwt-payload .CodeMirror .cm-string,
.jwt-playground .output .jwt-payload .CodeMirror .cm-atom,
.jwt-playground .output .jwt-payload .CodeMirror .cm-number
  color #268bd2