// Haskell ssaasen/haskell-jwt
article.jwt-haskell.haskell.accordion(data-accordion)
  .panel-heading(data-control)
    img(src='/img/9.svg')
    h3 Haskell
  .panel-wrap(data-content)
    .panel-body
      .column
        p
          i.icon-budicon-500
          | Sign
        p
          i.icon-budicon-500
          | Verify
        p
          i.icon-budicon-501
          code iss
          |  check
        p
          i.icon-budicon-501
          code sub
          |  check
        p
          i.icon-budicon-501
          code aud
          |  check
        p
          i.icon-budicon-501
          code exp
          |  check
        p
          i.icon-budicon-501
          code nbf
          |  check
        p
          i.icon-budicon-501
          code iat
          |  check
        p
          i.icon-budicon-501
          code jti
          |  check
      .column
        p
          i.icon-budicon-500
          | HS256
        p
          i.icon-budicon-501
          | HS384
        p
          i.icon-budicon-501
          | HS512
        p
          i.icon-budicon-501
          | RS256
        p
          i.icon-budicon-501
          | RS384
        p
          i.icon-budicon-501
          | RS512
        p
          i.icon-budicon-501
          | ES256
        p
          i.icon-budicon-501
          | ES384
        p
          i.icon-budicon-501
          | ES512

    .author-info
      .maintainer
        a(href='https://bitbucket.org/ssaasen')
          i.icon-budicon-333(data-toggle='tooltip', title='', data-original-title='Maintainer')
          | Stefan Saasen
      .repository
        i.icon-1392070209-icon-social-github
        a(href='https://bitbucket.org/ssaasen/haskell-jwt') View Repo

    .panel-footer
      code cabal install jwt