// Java JJWT
article.jwt-java.java.accordion(data-accordion)
  .panel-heading(data-control)
    img(src='/img/3.svg')
    h3 Java
  .panel-wrap(data-content)
    .panel-body
      .column
        p
          i.icon-budicon-500
          | Sign
        p
          i.icon-budicon-500
          | Verify
        p
          i.icon-budicon-500
          code iss
          |  check
        p
          i.icon-budicon-500
          code sub
          |  check
        p
          i.icon-budicon-500
          code aud
          |  check
        p
          i.icon-budicon-500
          code exp
          |  check
        p
          i.icon-budicon-500
          code nbf
          |  check
        p
          i.icon-budicon-500
          code iat
          |  check
        p
          i.icon-budicon-500
          code jti
          |  check
      .column
        p
          i.icon-budicon-500
          | HS256
        p
          i.icon-budicon-500
          | HS384
        p
          i.icon-budicon-500
          | HS512
        p
          i.icon-budicon-500
          | RS256
        p
          i.icon-budicon-500
          | RS384
        p
          i.icon-budicon-500
          | RS512
        p
          i.icon-budicon-500
          | ES256
        p
          i.icon-budicon-500
          | ES384
        p
          i.icon-budicon-500
          | ES512

    .author-info
      .maintainer
        a(href='https://twitter.com/lhazlewood')
          i.icon-budicon-333(data-toggle='tooltip', title='', data-original-title='Maintainer')
          | __b_c
      .repository
        i.icon-1392070209-icon-social-github
        a(href='https://github.com/jwtk/jjwt') View Repo

    .panel-footer
      code maven: io.jsonwebtoken / jjwt / 0.6.0
