// Scala pauldijou/jwt-scala
article.jwt-scala.accordion(data-accordion)
  .panel-heading(data-control)
    img(src='/img/12.svg')
    h3 Scala
  .panel-wrap(data-content)
    .panel-body
      .column
        p
          i.icon-budicon-500
          | Sign
        p
          i.icon-budicon-500
          | Verify
        p
          i.icon-budicon-501
          code iss
          |  check
        p
          i.icon-budicon-501
          code sub
          |  check
        p
          i.icon-budicon-501
          code aud
          |  check
        p
          i.icon-budicon-500
          code exp
          |  check
        p
          i.icon-budicon-500
          code nbf
          |  check
        p
          i.icon-budicon-501
          code iat
          |  check
        p
          i.icon-budicon-501
          code jti
          |  check
      .column
        p
          i.icon-budicon-500
          | HS256
        p
          i.icon-budicon-500
          | HS384
        p
          i.icon-budicon-500
          | HS512
        p
          i.icon-budicon-500
          | RS256
        p
          i.icon-budicon-500
          | RS384
        p
          i.icon-budicon-500
          | RS512
        p
          i.icon-budicon-500
          | ES256
        p
          i.icon-budicon-500
          | ES384
        p
          i.icon-budicon-500
          | ES512

    .author-info
      .maintainer
        a(href='https://github.com/pauldijou')
          i.icon-budicon-333(data-toggle='tooltip', title='', data-original-title='Maintainer')
          | pauldijou
        span.stars(data-repo='pauldijou/jwt-scala', style='display: inline;')
          i.icon-budicon-466
      .repository
        i.icon-1392070209-icon-social-github
        a(href='https://github.com/pauldijou/jwt-scala') View Repo

    .panel-footer
      code sbt: "pdi" %% "jwt-core" % "0.3.0"
