// Scala iain-logan/jwt
article.jwt-scala.scala.accordion(data-accordion)
  .panel-heading(data-control)
    img(src='/img/12.svg')
    h3 Scala
  .panel-wrap(data-content)
    .panel-body
      .column
        p
          i.icon-budicon-500
          | Sign
        p
          i.icon-budicon-500
          | Verify
        p
          i.icon-budicon-500
          code iss
          |  check
        p
          i.icon-budicon-500
          code sub
          |  check
        p
          i.icon-budicon-500
          code aud
          |  check
        p
          i.icon-budicon-500
          code exp
          |  check
        p
          i.icon-budicon-500
          code nbf
          |  check
        p
          i.icon-budicon-500
          code iat
          |  check
        p
          i.icon-budicon-500
          code jti
          |  check
      .column
        p
          i.icon-budicon-500
          | HS256
        p
          i.icon-budicon-500
          | HS384
        p
          i.icon-budicon-500
          | HS512
        p
          i.icon-budicon-500
          | RS256
        p
          i.icon-budicon-501
          | RS384
        p
          i.icon-budicon-501
          | RS512
        p
          i.icon-budicon-501
          | ES256
        p
          i.icon-budicon-501
          | ES384
        p
          i.icon-budicon-501
          | ES512

    .author-info
      .maintainer
        a(href='https://github.com/iain-logan')
          i.icon-budicon-333(data-toggle='tooltip', title='', data-original-title='Maintainer')
          | iain-logan
        span.stars(data-repo='iain-logan/jwt', style='display: inline;')
          i.icon-budicon-466
      .repository
        i.icon-1392070209-icon-social-github
        a(href='https://github.com/iain-logan/jwt') View Repo

    .panel-footer
      code libraryDependencies += "io.igl" %% "jwt" % "1.2.2"
