.jwt-playground {

  width: 100%;

  .CodeMirror {
    width: 50%;
    float: left;
  }

  .input {
  }

  .output {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 10px;
    font-family: Helvetica;

    .jwt-header {
      background: lightgray;
      color: green;
      padding: inherit;
      margin: 5px;
    }

    .jwt-payload {
      background: lightgray;
      color: blue;
      padding: inherit;
      margin: 5px;
    }

    .jwt-signature {
      background: lightgray;
      color: red;
      padding: inherit;
      margin: 5px;
    }
    
  }
}
