@jwtHeaderColor:              #859900;
@jwtPayloadColor:             #268bd2;
@jwtSignatureColor:           #dc322f;
@jwtExplainedBackgroundColor: #eee8d5;

@backgroundColor:             #fdf6e3;

body {
  font-family: Helvetica;
  background: @backgroundColor;
}

.box-sizing(@prop) {
    -webkit-box-sizing: @prop; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: @prop; /* Firefox, other Gecko */
            box-sizing: @prop; /* Opera/IE 8+ */
}

.box-shadow(@prop) {
  -webkit-box-shadow: @prop;
     -moz-box-shadow: @prop;
          box-shadow: @prop;
}

.jwt-playground {
  width: 100%;

  .input {
    width: 50%;
    float: left;
    margin-top: 15px;

    .CodeMirror {
      width: 100%;
      float: left;
      .cm-jwt-dot { }
      .cm-jwt-header    { color: @jwtHeaderColor;     }
      .cm-jwt-payload   { color: @jwtPayloadColor;    }
      .cm-jwt-signature { color: @jwtSignatureColor;  }
    }
  }

  .output {
    width: 50%;
    float: left;
    padding: 10px;
    font-family: Helvetica;
    .box-sizing(border-box);

    .jwt-explained {
      background: @jwtExplainedBackgroundColor;
      padding: inherit;
      margin: 5px;

        &:hover {
          .box-shadow(1px 1px 5px #888888 inset);
        }
    }

    .jwt-header {
      color: @jwtHeaderColor;

      .CodeMirror {
        width: 100%;
        height: auto;
        background: none;
        color: inherit;
      }

    }
    .jwt-payload {
      color: @jwtPayloadColor;

      .CodeMirror {
        width: 100%;
        height: auto;
        background: none;
        color: inherit;
      }

    }
    .jwt-signature  {
      color: @jwtSignatureColor;

      label[for="secret"] {
        clear: left;
        display: block;
      }
      input {
        clear: right;
        display: block;
      }
    }
  }
}
