.brand {
    width: 100%;
    display: flex;
    align-items: center;
    height: 1.5rem;
    gap: .5rem;
    position: relative;
    cursor: pointer;

  svg {
    height: inherit;
    width: auto;
  }

  &:focus-visible {
    outline: solid 1px var(--color_border_focus);
    outline-offset: 0.125rem;
    border-radius: 0.125rem;
  }
}

.container {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}

.brand__logo {
    position: relative;
    display: flex;
    align-items: center;
    height: 1.5rem;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

.brand__headline {
  display: flex;
  flex-direction: column;
  margin-left: 0.625rem;
  color: var(--color_fg_bold);
}

.brand__title {
  display: flex;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: 0;
  letter-spacing: 0.02rem;
}

.brand__subtitle {
  display: flex;
  font-size: 0.75rem;
  line-height: 0.75rem;
  margin-top: 1px;
  letter-spacing: 0.02rem;
}