.brand {
  width: 100%;
  display: flex;
  align-items: center;
  height: 1.5rem;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;

  svg {
    height: inherit;
    width: auto;
  }

  &:focus-visible {
    outline: solid 1px var(--color_border_focus);
    outline-offset: 0.125rem;
    border-radius: 0.125rem;
  }
}

.container {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}

.brand__logo {
  position: relative;
  display: flex;
  align-items: center;
  height: 1.5rem;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

.brand__wordmark {
  position: relative;
  display: flex;
  align-items: center;
  height: 1rem;
}

.brand__headline {
  display: flex;
  flex-direction: column;
  color: var(--color_fg_bold);
}

.brand__title {
  display: flex;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: 0;
  letter-spacing: 0.02rem;
}

.brand__subtitle {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.75rem;
  margin-top: 1px;
  letter-spacing: 0.02rem;
}

.tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  color: var(--color_fg_bold);
  background-color: var(--color_bg_layer);
  border: 1px solid var(--color_border_default);
  border-radius: 0.5rem;
  font-size: 0.75rem;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
