@use "@/libs/theme/styles/variables" as *;

.container {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color_bg_layer);
  border-radius: 1.5rem;
  border: 1px solid var(--color_border_default);
  overflow: hidden;
  transition: all .3s ease-out;
}

.header {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
  font-style: normal;

  span {
    color: var(--color_fg_bold);
    font-size: .875rem;
    font-family: var(--font-primary);
    line-height: 1.35;
    font-weight: 700;
  }
}

.logo {
  border: 1px solid var(--color_border_bold);
  border-radius: 50%;
  padding: 0.25rem;
  background: white;
}

.content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 1.5rem 1.5rem 2.5rem;
}

.minVersion {
  grid-column: 1/-1;
  color: var(--color_fg_on_state_caution_subtle);
  padding: 1rem;
  font-size: .875rem;
  letter-spacing: .2px;
  display: flex;
  justify-content: space-between;
}

.minVersion__resourceLabel {
  text-transform: none;
  text-decoration: underline;
  letter-spacing: 0;
}

.config,
.algs {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 0.5rem;

  & svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  & li {
    height: 1.25rem;

    code {
      padding: .125rem .25rem;
      border-radius: .5rem;
      color: var(--color_fg_bold);
      background-color: var(--color_bg_layer_alternate);
      box-shadow: 0 0 0 .5px rgba(0,0,0,.12),0 2px 2px -1px rgba(0,0,0,.04),0 4px 4px -2px rgba(0,0,0,.04);
      font-size: .75rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.5;
    }
  }
}

.listItem, .metadata {
  display: flex;
  align-items: center;
  color: var(--color_fg_default);
  font-size: .875rem;
  font-weight: 500;
}

.listItem {
  gap: 0.5rem;
}

.metadata {
  justify-content: space-between;
  padding: .5rem;
  width: calc(100% - 1rem);
  margin: 0 auto;
  border-radius: .5rem;
  background: var(--color_bg_layer_alternate);
  font-style: normal;
  line-height: 140%;
  letter-spacing: .18px;

  svg {
    path {
      fill: var(--color_fg_default);
    }
  }
}

.author {
  display: flex;
}

.author__name {
  display: flex;
  align-items: center;
  line-height: 0;
  gap: 0.25rem;
}

.repo {
  display: flex;
  gap: 0.5rem;
}

.repo__stars {
  display: flex;
  align-items: center;
  line-height: 0;
  gap: 0.25rem;
}

.repo__url {
  display: flex;
  align-items: center;
  line-height: 0;
  padding: .25rem .5rem;
  border-radius: 9999px;
  transition: all .2s ease-out;
}

.command {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--color_border_bold);
  p {
    color: var(--color_fg_bold);
    text-wrap: wrap;
    overflow: hidden;
    word-break: break-word;
    font-size: .75rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
  }
}
