.tokens-created
  .container
    img(src='/img/pic_logo_ft.svg')
    p JWT.io is brought to you by 
      a(href='https://auth0.com/signup', target="_blank") Auth0
    p Securely implement authentication with JWTs using Auth0 on any stack and any device in less than 10 minutes.

    a(href='https://auth0.com/signup', target="_blank").btn.btn-success Create free account

    .token
      h5 TOKENS CREATED

    .counter
    