extends layout

block content
  
  section#debugger-io.debugger-jwt
    .container      

      .jwt-playground
      
        .top-section.clearfix
          .pull-left
            a(href="#")
              img(src="/assets/share-badge.svg" height="40")

          .select-field.algorithm.pull-right
            span Algorithm
            .hide
              label
                input(type='radio', name='algorithm', value='HS256', checked='')
              label
                input(type='radio', name='algorithm', value='RS256')
            .jwt-select.custom-select
              select
                option(name='algorithm',value='HS256', selected='') HS256
                option(name='algorithm',value='RS256') RS256
                
          .select-field.pull-right
            span Import JWT
            .hide
              label
                input(type='radio', name='algorithm', value='HS256', checked='')
              label
                input(type='radio', name='algorithm', value='RS256')
            .custom-select
              select
                optgroup
                  option(name='0', selected, disabled) Select JWT
                optgroup(label="localStorage")
                  option(name='1',value='') foo
                  option(name='2',value='') bar
                optgroup(label="Cookies")
                  option(name='1',value='') foo
                  option(name='2',value='') bar

        .algorithm-code
          .tab-nav
            .tab-link.current
              a(href='#encoded-jwt') Encoded
                small paste a token here
            .tab-link
              a(href='#decoded-jwt') Decoded
                small edit the payload and secret (only HS256 supported)

          .tab-content
            #encoded-jwt.box-content.current
              .input.js-input
            #decoded-jwt.box-content
              .output
                .jwt-explained.jwt-header
                  p.text-line HEADER:
                    span ALGORITHM & TOKEN TYPE
                  .js-header

                .jwt-explained.jwt-payload
                  p.text-line PAYLOAD:
                    span DATA
                  .js-payload

                .jwt-explained.jwt-signature
                  p.text-line VERIFY SIGNATURE
                  pre.pre-encode.HS256.
                    HMACSHA256(
                      base64UrlEncode(header) + "." +
                      base64UrlEncode(payload),
                      <input type="text" name="secret" value="secret">
                    )<span class="is-base64-encoded-label"> <input id="is-base64-encoded" type="checkbox" name="is-base64-encoded"><label for="is-base64-encoded">secret base64 encoded</label></span>
                  pre.pre-encode.RS256.
                    RSASHA256(
                      base64UrlEncode(header) + "." +
                      base64UrlEncode(payload),
                      <textarea rows="4" name="public-key" placeholder="Public Key or Certificate. Enter it in plain text only if you want to verify a token"></textarea>,
                      <textarea rows="5" name="private-key" placeholder="Private Key (RSA). Enter the it in plain text only if you want to generate a new token. The key never leaves your browser."></textarea>
                    )

        .validation-status.js-signature
        .colophon.clearfix
          .pull-left
            a(href="https://auth0.com/")
              | Supported by 
              img(src="/img/ico_logo.svg")
              
          .pull-right.save-back.hide
            a(href="#") Save back to localStorage
            
          .pull-right.keyboard-info
            span Press Ctrl + Shift + K to open the JWT debugger
            
          //- a(href="#" data-type="twitter" data-txt="JWT on the browser" data-via="auth0").share-callouts.social-sharer
          //-   | Share this on
          //-   svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='22', height='22', viewbox='0 0 512 512', enable-background='new 0 0 512 512', xml:space='preserve')
          //-     path#twitter-icon(d='M462,128.223c-15.158,6.724-31.449,11.269-48.547,13.31c17.449-10.461,30.854-27.025,37.164-46.764\
          //-       c-16.333,9.687-34.422,16.721-53.676,20.511c-15.418-16.428-37.386-26.691-61.698-26.691c-54.56,0-94.668,50.916-82.337,103.787\
          //-       c-70.25-3.524-132.534-37.177-174.223-88.314c-22.142,37.983-11.485,87.691,26.158,112.85c-13.854-0.438-26.891-4.241-38.285-10.574\
          //-       c-0.917,39.162,27.146,75.781,67.795,83.949c-11.896,3.237-24.926,3.978-38.17,1.447c10.754,33.58,41.972,58.018,78.96,58.699\
          //-       C139.604,378.282,94.846,390.721,50,385.436c37.406,23.982,81.837,37.977,129.571,37.977c156.932,0,245.595-132.551,240.251-251.435\
          //-       C436.339,160.061,450.668,145.174,462,128.223z', fill="#55acee")
