doctype html
html(lang='en')
  head
    block meta
      title JSON Web Tokens - jwt.io
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
      meta(name='author', content='auth0.com')
      meta(name='description', content='JSON Web Token (JWT) is a compact URL-safe means of representing claims to be transferred between two parties. The claims in a JWT are encoded as a JSON object that is digitally signed using JSON Web Signature (JWS).')

    link(rel="stylesheet", type="text/css", href="/extension-deps/typography.com/fonts.css")
    link(rel="stylesheet", type="text/css", href="/extension-deps/google/roboto-mono.css")

    link(rel="stylesheet", href="/css/bootstrap.min.css")

    // build:css dist/css/app.css
    link(rel='stylesheet', href='/vendor/codemirror/lib/codemirror.css', type='text/css', media='all')
    link(rel='stylesheet', href='/vendor/codemirror/addon/lint/lint.css', type='text/css', media='all')
    link(rel="stylesheet", href='/css/budicon.css', type="text/css", media="all")
    link(rel='stylesheet', href='/css/app.css', type='text/css', media='all')
    link(rel='stylesheet', href='/css/chrome-extension.css', type='text/css', media='all')

    link(rel='icon', type='image/png', sizes='192x192', href='/img/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/img/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    //link(rel='manifest', href='/img/favicon/manifest.json')
    //meta(name='msapplication-TileColor', content='#000000')
    //meta(name='msapplication-TileImage', content='/img/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#000000')

  body

    block content

    //script(src='/js/profile-start.js')
    
    //
      script(src='/extension-deps/jquery/jquery.min.js')
      script(src='/js/bootstrap.min.js')

      script(src="vendor/crypto-js/core.js")

      script(src='/vendor/jsonlint/lib/jsonlint.js')
      script(src='/vendor/codemirror/codemirror.min.js')
      script(src='/vendor/kjur-jsrsasign/jsrsasign-latest-all-min.js')
      script(src='/js/jwt.js')

      script(src='/js/jwtview.js')
      script(src='/js/app.js')
    script(src='js/app.bundle.js', async)
    
    //script(src='/js/profile-end.js')
    // endbuild
