doctype html
html(lang='en')
  head
    block meta
      title JSON Web Tokens - jwt.io
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
      meta(name='author', content='auth0.com')
      meta(name='description', content='JSON Web Token (JWT) is a compact URL-safe means of representing claims to be transferred between two parties. The claims in a JWT are encoded as a JSON object that is digitally signed using JSON Web Signature (JWS).')

    link(rel="stylesheet", type="text/css", href="/extension-deps/typography.com/fonts.css")
    link(rel="stylesheet", type="text/css", href="/extension-deps/oogle/roboto-mono.css")

    link(rel="stylesheet", href="/css/bootstrap.min.css")

    // build:css dist/css/app.css
    link(rel='stylesheet', href='/vendor/codemirror/lib/codemirror.css', type='text/css', media='all')
    link(rel='stylesheet', href='/vendor/codemirror/addon/lint/lint.css', type='text/css', media='all')
    link(rel="stylesheet", href='/css/budicon.css', type="text/css", media="all")
    link(rel='stylesheet', href='/css/app.css', type='text/css', media='all')
    link(rel='stylesheet', href='/css/chrome-extension.css', type='text/css', media='all')

    link(rel='icon', type='image/png', sizes='192x192', href='/img/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/img/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    link(rel='manifest', href='/img/favicon/manifest.json')
    meta(name='msapplication-TileColor', content='#000000')
    meta(name='msapplication-TileImage', content='/img/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#000000')

  body

    block content

    //
        footer
          .container
            .columns
              .column
                a(href='https://auth0.com/', target="_blank")
                  | Supported by
                  img(src='/img/ico_logo.svg')
              .column.pull-request
                span Missing something?
                a(href='https://github.com/jsonwebtoken/jsonwebtoken.github.io/tree/master/views', target="_blank") Send a Pull Request
              .column.social-counter
                a.twitter-follow-button(href='https://twitter.com/auth0', data-show-count='true') Follow @auth0



    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='/extension-deps/jquery/jquery.min.js')
    script(src='/extension-deps/csbuttons/jquery.csbuttons.min.js')
    script(src='/js/bootstrap.min.js')

    script(src="/vendor/wistia/E-v1.js" async)

    script(src="vendor/crypto-js/core.js")
    script(src="vendor/crypto-js/x64-core.js")
    script(src="vendor/crypto-js/pbkdf2.js")
    script(src="vendor/crypto-js/crypto-js.js")
    script(src="vendor/crypto-js/hmac.js")
    script(src="vendor/crypto-js/hmac-sha256.js")
    script(src="vendor/crypto-js/sha1.js")
    script(src="vendor/crypto-js/sha256.js")

    // build:js dist/js/app.js
    script(src='/vendor/zepto/zepto.js')
    script(src='/vendor/jsonlint/lib/jsonlint.js')
    script(src='/vendor/json-sans-eval-min/index.js')
    script(src='/vendor/codemirror/lib/codemirror.js')
    script(src='/vendor/codemirror/mode/javascript/javascript.js')
    script(src='/vendor/codemirror/addon/lint/lint.js')
    script(src='/vendor/codemirror/addon/lint/javascript-lint.js')
    script(src='/vendor/codemirror/addon/lint/json-lint.js')
    script(src='/vendor/kjur-jsrsasign/jsrsasign-latest-all-min.js')
    script(src='/js/jwt_mode.js')
    script(src='/js/jwt.js')

    script(src='/js/isotope.pkgd.min.js')
    script(src='/js/flipclock.js')
    script(src='/js/accordion.js')
    script(src='/js/highlight.min.js')

    script(src='/js/app.js')
    // endbuild
