script(type="application/ld+json").
    [{
        "@context": "http://www.schema.org",
        "@type": "WebSite",
        "name": "JSON Web Tokens - jwt.io",
        "url": "https://jwt.io",
        "description": "Decode, verify and generate JSON Web Tokens with our online debugger.",
        "image": "https://jwt.io/img/pic_logo.svg",
        "publisher": {
            "@type": "Organization",
            "name": "Auth0",
            "legalName": "Auth0 Inc.",
            "url": "https://auth0.com/",
            "logo": "https://cdn.auth0.com/website/assets/pages/press/img/resources/auth0-logo-main-6001cece68.svg",
            "foundingDate": "2013",
            "sameAs": [
                "https://twitter.com/auth0",
                "https://www.facebook.com/getauth0/",
                "https://www.linkedin.com/company/auth0"
            ]
        }
    }, {
        "@context": "https://schema.org/", 
        "@type": "BreadcrumbList", 
        "itemListElement": [{
            "@type": "ListItem", 
            "position": 1, 
            "name": "jwt.io",
            "item": "https://jwt.io",
            "description": "JWT.IO allows you to decode, verify and generate JWT."
        }, {
            "@type": "ListItem", 
            "position": 2, 
            "name": "Debugger",
            "item": "https://jwt.io/#debugger-io",
            "description": "Decode, verify and generate JSON Web Tokens with our online debugger."
        }]
    }, {
        "@context": "https://schema.org/", 
        "@type": "BreadcrumbList", 
        "itemListElement": [{
            "@type": "ListItem", 
            "position": 1, 
            "name": "jwt.io",
            "item": "https://jwt.io",
            "description": "JWT.IO allows you to decode, verify and generate JWT."
        },{
            "@type": "ListItem", 
            "position": 2, 
            "name": "Libraries",
            "item": "https://jwt.io/#libraries-io",
            "description": "An overview of Libraries for Token Signing/Verification in a variety of different programming languages."
        }]
    }, {
        "@context": "https://schema.org/", 
        "@type": "BreadcrumbList", 
        "itemListElement": [{
            "@type": "ListItem", 
            "position": 1, 
            "name": "jwt.io",
            "item": "https://jwt.io",
            "description": "JWT.IO allows you to decode, verify and generate JWT."
        },{
            "@type": "ListItem", 
            "position": 2, 
            "name": "Introduction",
            "item": "https://jwt.io/introduction/",
            "description": "An introduction to JSON Web Tokens."
        }]
    }]
    
