script(type="application/ld+json").
    [{
        "@context": "http://www.schema.org",
        "@type": "WebSite",
        "name": "JSON Web Tokens - jwt.io",
        "url": "https://jwt.io"
    }, {
        "@context": "https://schema.org/", 
        "@type": "BreadcrumbList", 
        "itemListElement": [{
            "@type": "ListItem", 
            "position": 1, 
            "name": "JSON Web Token Debugger",
            "item": "https://jwt.io/#debugger-io"  
        },{
            "@type": "ListItem", 
            "position": 2, 
            "name": "JSON Web Token Libraries",
            "item": "https://jwt.io/#libraries-io"  
        },{
            "@type": "ListItem", 
            "position": 3, 
            "name": "Introduction to JSON Web Tokens",
            "item": "https://jwt.io/introduction/"  
        }]
    }]