block meta
  title JSON Web Tokens - jwt.io
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
  meta(name='author', content='auth0.com')
  meta(name='description', content='JSON Web Token (JWT) is a compact URL-safe means of representing claims to be transferred between two parties. The claims in a JWT are encoded as a JSON object that is digitally signed using JSON Web Signature (JWS).')
  link(rel="canonical", href="https://jwt.io")
