select#algorithm-select
  option(name='algorithm',value='HS256', selected='') HS256
  option(name='algorithm',value='HS384') HS384
  option(name='algorithm',value='HS512') HS512
  option(name='algorithm',value='RS256') RS256
  option(name='algorithm',value='RS384') RS384
  option(name='algorithm',value='RS512') RS512
  option(name='algorithm',value='ES256') ES256
  option(name='algorithm',value='ES384') ES384
  option(name='algorithm',value='ES512') ES512
  option(name='algorithm',value='PS256') PS256
  option(name='algorithm',value='PS384') PS384
  option(name='algorithm',value='PS512') PS512
