@use "@/libs/theme/styles/variables" as *;
@use "@/libs/theme/styles/mixins" as *;

.stack {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  gap: 1rem;

  @media #{$breakpoint-dimension-sm} {
    display: none;
  }
}

.grid__subtitle {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    gap: .25rem;
    font-family: var(--font-primary);
    padding-top: .75rem;
    color: var(--color_fg_default);
    font-size: 1rem;
    line-height: 1.15rem;
    font-weight: 700;
    letter-spacing: -.2px;

  & * {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }

  @media #{$breakpoint-dimension-sm} {
    grid-column: span 12;
    scroll-margin-top: calc($navbar-height + $workflows-navbar-height + 2rem);
  }
}

.grid__subtitleTag {
  color: var(--color_fg_default);
  opacity: 0.64;
}

.decodedOutputCardTabs {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  gap: 0.5rem;

  @media #{$breakpoint-dimension-sm} {
    grid-column: span 12;
  }
}

.input__description {
  grid-column: span 6;
  width: 100%;
  color: var(--color_fg_default);
  display: flex;
  flex-direction: column;

  gap: 0.625rem;

  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 0.5rem;

  & strong {
    font-weight: 500;
  }

  @media #{$breakpoint-dimension-sm} {
    grid-column: span 12;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
