@use "@/libs/theme/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  transition: background-color 0.13s ease-in-out;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.valid {
  background-color: var(--color_bg_state_success_subtle);
  color: var(--color_fg_on_state_success_subtle);
}

.invalid {
  background-color: var(--color_bg_state_danger_subtle);
  color: var(--color_fg_on_state_danger_subtle);
}

.warning {
  background-color: var(--color_bg_state_caution_subtle);
  color: var(--color_fg_on_state_caution_subtle);
}
