@use "@/libs/theme/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  transition: background-color 0.13s ease-in-out;
  padding: 0.5rem 1rem;
  font-size: .875rem;
  line-height: 1.125rem;
}

.valid {
    color: var(--color_fg_on_state_success_subtle);
}

.invalid {
  color: var(--color_fg_on_state_danger_subtle);
}

.warning {
  color: var(--color_fg_on_state_caution_subtle);
}
