@use "@/libs/theme/styles/variables" as *;

.container {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .75rem .75rem .5rem;
  gap: .25rem;
  font-size: .875rem;
  line-height: 1.375rem;
  color: var(--color_fg_default);
}

.valid {
    color: var(--color_fg_on_state_success_subtle);
}

.invalid {
  color: var(--color_fg_on_state_danger_subtle);
}

.warning {
  color: var(--color_fg_on_state_caution_subtle);
}
