@use "@/libs/theme/styles/variables" as *;
@use "@/libs/theme/styles/mixins" as *;

.container {
  @include Container;
}

.content {
  display: flex;
  width: calc(100% - 2rem);
  max-width: 1312px;
  margin: 0 auto;
  flex-direction: column;
  row-gap: 2rem;


  @media #{$breakpoint-dimension-sm} {
    width: calc(100% - 4rem);
    grid-template-columns: repeat(12,minmax(0,1fr));
  }

  @media #{$breakpoint-dimension-lg} {
    width: calc(100% - 128px);
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: 1rem;
    column-gap: 1rem;
    width: calc(100% - 2rem);
    max-width: 1312px;
    margin: 0 auto;
    grid-row-gap: unset;
    row-gap: unset;
  }
  
}

.assets__column {
  grid-column: span 1;
  color: var(--color_fg_default);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border: 1px solid var(--color_border_default);
  border-radius: 1rem;
  padding: 2.5rem;
  background-color: var(--color_bg_layer);
  box-shadow: 0 2px 12px -4px rgba(0,0,0,.08),0 2px 1px -.5px rgba(0,0,0,.04),0 2px 4px -4px rgba(0,0,0,.05),inset -.5px -.5px 2px rgba(0,0,0,.04);

  @media #{$breakpoint-dimension-sm} {
    grid-column: span 4;
    gap: 2rem;
  }
}

.assets__title {
  width: 100%;
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.15;
  font-weight: 500;
  color: var(--color_fg_bold);
  font-feature-settings: lining-nums proportional-nums;
  font-variant-numeric: lining-nums proportional-nums;
  font-style: normal;

  @media #{$breakpoint-dimension-lg} {
    font-size: 2.5rem;
  }
}

.assets__description {
  font-size: 1rem;
  line-height: 1.5rem;
}

.asset__link {
  width: fit-content;
  display: flex;
  padding: .25rem .75rem;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  border-radius: 9999px;
  background: var(--color_bg_layer);
  border: 1px solid var(--color_border_default);
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: -.2px;
  transition: all .3s ease-in-out;

  &:focus-visible {
    outline: solid 1px var(--color_border_focus);
    outline-offset: 0.125rem;
    border-radius: 0.125rem;
  }

  &:hover {
    border: 1px solid var(--color_border_bold);
    box-shadow: 0 0 0 4px rgba(0,0,0,.12);
    transition: all .2s ease-out;
  }

  @media #{$breakpoint-dimension-sm} {
    margin-top: 40px;
  }
}

.assets__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media #{$breakpoint-dimension-sm} {
    gap: 2rem;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  align-items: center;
  gap: 1.5rem;
  flex: 1 0 0;
  border-radius: 0.5rem;
  border: 1px solid var(--color_border_bold);
  background: var(--color_bg_layer_alternate);
  cursor: pointer;
  transition: border 0.24s ease-out;

  svg {
    path {
      stroke: var(--color_fg_default);
    }
  }

  &:hover {
    border: 1px solid #fbfbfb;
  }

  @media #{$breakpoint-dimension-sm} {
    padding: 2rem 15px;
  }
}
