@use "@/libs/theme/styles/variables" as *;
@use "@/libs/theme/styles/mixins" as *;

.container {
  @include Container;
}

.content {
  @include InnerContentGrid;
  padding-top: 4rem;
  padding-bottom: 4rem;
  row-gap: 2rem;

  @media #{$breakpoint-dimension-sm} {
    row-gap: unset;
  }
}

.assets__column {
  grid-column: span 6;
  color: var(--color_fg_default);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @media #{$breakpoint-dimension-sm} {
    grid-column: span 4;
    gap: 2rem;
  }
}

.assets__title {
  color: var(--color_fg_bold);
  font-size: 1.5rem;
  line-height: 2rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.5px;

  @media #{$breakpoint-dimension-sm} {
  }
}

.assets__description {
  font-size: 1rem;
  line-height: 1.5rem;
}

.asset__link {
  width: fit-content;
  display: flex;
  height: 48px;
  padding: 1rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border-radius: 6px;
  background: var(--color_bg_button_primary);
  color: var(--color_fg_on_button_primary);
  border: 1px solid var(--color_border_button);

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.32px;

  &:focus-visible {
    outline: solid 1px var(--color_border_focus);
    outline-offset: 0.125rem;
    border-radius: 0.125rem;
  }

  @media #{$breakpoint-dimension-sm} {
    margin-top: 40px;
  }
}

.assets__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media #{$breakpoint-dimension-sm} {
    gap: 2rem;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  align-items: center;
  gap: 1.5rem;
  flex: 1 0 0;
  border-radius: 0.5rem;
  border: 1px solid var(--color_border_bold);
  background: var(--color_bg_layer_alternate);
  cursor: pointer;
  transition: border 0.24s ease-out;

  svg {
    path {
      stroke: var(--color_fg_default);
    }
  }

  &:hover {
    border: 1px solid #fbfbfb;
  }

  @media #{$breakpoint-dimension-sm} {
    padding: 2rem 15px;
  }
}

.downloadButton {
  background: var(--color_bg_layer);
  border-radius: 0.25rem;
  outline: none;
  border: none;

  height: 2rem;
  width: 2rem;

  &:focus-visible {
    outline: solid 1px var(--color_border_focus);
    outline-offset: 0.125rem;
    border-radius: 0.125rem;
  }
}
