@use "@/libs/theme/styles/variables" as *;
@use "@/libs/theme/styles/mixins" as *;

.container {
  @include Container;
  position: relative;
  overflow: hidden;

  @media #{$breakpoint-dimension-md} {
    margin-bottom: 2rem;
  }
}

.content {
  @include InnerContentFlex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero {
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.25rem 0;
  text-align: center;

  @media #{$breakpoint-dimension-sm} {
    padding: 0.5rem 0;
  }
}

.modal {
  max-width: 608px;
  padding: 2.5rem 0;
}

.modal__text {
  color: var(--color_fg_default);
  font-size: .875rem;
  letter-spacing: .21px;
  line-height: 1.25rem;;

  a {
    text-decoration: underline;
    font-weight: 500;
  }
}

.divider {
  display: none;

  @media #{$breakpoint-dimension-md} {
    display: block;
    width: 40rem;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--color_border_default), transparent);
    border: 0;
  }
}