@use "@/libs/theme/styles/variables" as *;
@use "@/libs/theme/styles/mixins" as *;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-top: $main-nav-height-mobile;

  @media #{$breakpoint-dimension-sm} {
    margin-top: $main-nav-height;
  }
}
