extends layout

block content

  section#debugger-io.debugger-jwt
    .container
      .jwt-playground
        .top-section.clearfix.section

          .jwt-logo
            img(src="/img/debugger-logo.svg" height="20" alt="Share this jwt")

          .select-field
            span Open JWT from
            .custom-select
              select
                optgroup
                  option(name='chosen', selected) 
                optgroup(label="Web Storage")
                optgroup(label="Cookies")

          .select-field.algorithm
            span Algorithm
            .jwt-select.custom-select
              include ../token-editor-algorithms.pug

          .share-this-jwt
            a.jwt-clipboard-btn(href="#")
              span#share-this-jwt-text Share JWT
              img(src="/img/icon-chromeless.svg" height="15" alt="Share this jwt")

        include ../token-editor-common.pug

        .bottom-section.section
          include ../token-editor-validation.pug

          .colophon.clearfix
            .pull-left
              a(target="_blank" href="https://auth0.com/developers/?utm_source=jwt-ext&utm_campaign=badge")
                | Supported by &nbsp
                img(src="/img/ico_logo.svg" alt='Supported by Auth0 - JWT.io Token Based Authentication')
              a &nbsp-&nbsp
              a.keep-deco(href='https://github.com/jsonwebtoken/jsonwebtoken.github.io/blob/master/LICENSE.txt', target="_blank") License
                
            .pull-right.save-back.hide
              a#save-back-link(href="#") Save back to localStorage
              
            .pull-right.keyboard-info
              span Press Ctrl + Shift + K to open the JWT debugger

  script(src='/js/index.js')
