extends layout

block content

  section#debugger-io.debugger-jwt
    .container
      .jwt-playground
        .top-section.clearfix

          .pull-left
            .jwt-logo.h-block
              img(src="/img/debugger-logo.svg" height="25" alt="Share this jwt")

          .pull-right      
            .select-field.h-block
              span Open JWT from
              .custom-select
                select
                  optgroup
                    option(name='0', selected) 
                  optgroup(label="Web Storage")
                  optgroup(label="Cookies")

            .select-field.algorithm.h-block
              span Algorithm
              .jwt-select.custom-select
                include ../token-editor-algorithms.pug

            .share-this-jwt.h-block
              a.jwt-clipboard-btn(href="#")
                span#share-this-jwt-text Share JWT
                img(src="/img/icon-chromeless.svg" height="22" alt="Share this jwt")

        include ../token-editor-common.pug
        include ../token-editor-validation.pug

        .colophon.clearfix
          .pull-left
            a(target="_blank" href="https://developer.auth0.com")
              | Crafted by &nbsp
              img(src="/img/auth0_logo_ft.svg" alt='Crafted by Auth0 - JWT.io Token Based Authentication')
            a &nbsp-&nbsp
            a.keep-deco(href='https://github.com/jsonwebtoken/jsonwebtoken.github.io/blob/master/LICENSE.txt', target="_blank") License
              
          .pull-right.save-back.hide
            a#save-back-link(href="#") Save back to localStorage
            
          .pull-right.keyboard-info
            span Press Ctrl + Shift + K to open the JWT debugger

  script(src='/js/index.js')
