doctype html
html(lang='en')
  head
    include ../title.pug
    include ../stylesheets.pug

  body
    block content

    script.
      //Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37952868-23']);
      _gaq.push(['_trackPageview']);
  
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = 'https://ssl.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
