@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.japanese-font {
  font-family: "Noto Sans JP", sans-serif;
}

:root {
  --font-japanese: "Noto Sans JP", sans-serif;
}
