@use "@/libs/theme/styles/variables" as *;
@use "@/libs/theme/styles/mixins" as *;

.cta_container {
  position: relative;
  overflow: hidden;
  background: var(--color_bg_auth0-cta);
  grid-column: span 8;
  border-radius: 1rem;
  max-width: 1008px;
  border: 1px solid var(--color_border_default);
  box-shadow: 0 2px 12px -4px rgba(0,0,0,.08),0 2px 1px -.5px rgba(0,0,0,.04),0 2px 4px -4px rgba(0,0,0,.05),inset -.5px -.5px 2px rgba(0,0,0,.04);

  @media #{$breakpoint-dimension-md} {
    margin: 0 auto;
    &:before {
      background: none;
    }
  }

  &:before {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100%;
  }
}

.cta_wrapper {
  max-width: 1536px;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;

  @media #{$breakpoint-dimension-md} {
    background: var(--color_bg_auth0-cta);
    &:before {
      position: absolute;
      bottom: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 100%;
    }
  }
}

.cta_content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  @media #{$breakpoint-dimension-md} {
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
    width: 100%;
  }
}

.cta_cta {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: .25rem;
  align-items: center;
  gap: 2rem;

  @media #{$breakpoint-dimension-md} {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
  }
}

.cta__copy {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  padding: 2.5rem;

  @media #{$breakpoint-dimension-md} {
    grid-column: span 6;
    align-items: flex-start;
    flex-direction: column;
    gap: 2.5rem;
  }

  @media #{$breakpoint-dimension-sm} {
    align-items: unset;
  }
}

.cta__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .75rem;

  @media #{$breakpoint-dimension-sm} {
    gap: 1rem;
  }
}

.cta__title {
  width: 100%;
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.15;
  color: #fff;
  font-feature-settings: lining-nums proportional-nums;
  font-variant-numeric: lining-nums proportional-nums;
  font-style: normal;

  @media #{$breakpoint-dimension-lg} {
    font-size: 2.5rem;    
  }
}

.cta__description {
  color: var(--color_fg_default);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;

  @media #{$breakpoint-dimension-sm} {
    max-width: 40rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -.01rem;
  }

  @media #{$breakpoint-dimension-md} {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -.1px;
  }
}

.cta__button {
  display: flex;
  padding: .25rem .75rem;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border-radius: 9999px;
  background: var(--color_bg_layer);
  border: 1px solid var(--color_border_default);
  box-shadow: 0 1px 1px -.5px rgba(0,0,0,.04),0 3px 3px -1.5px rgba(0,0,0,.04),0 6px 6px -3px rgba(0,0,0,.04),0 12px 12px -6px rgba(0,0,0,.04),0 24px 24px -12px rgba(0,0,0,.04),inset 0 0 0 1px rgba(0,0,0,.08);
  color: var(--color_fg_default);
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: -.2px;
  transition: all .3s ease-in-out;

  &:hover {
    border: 1px solid var(--color_border_bold);
    box-shadow: 0 0 0 4px var(--color_button_focus_inverse);
    transition: all .2s ease-out;
  }

  @media #{$breakpoint-dimension-sm} {
    width: fit-content;
  }
}

.cta__media {
  position: relative;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  min-height: 348px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: .75rem;
  background-size: cover;
  background-position: 50%;
  background-image: url("/images/diagram.png");
  background-repeat: no-repeat;

  @media #{$breakpoint-dimension-md} {
    border-bottom-left-radius: 12rem;
    grid-column: span 6;
    align-items: flex-start;
    flex-direction: column;
    gap: 2.5rem;
  }

  @media #{$breakpoint-dimension-sm} {
    align-items: unset;
  }
}