.CodeMirror
  zoom 1
  font-family 'Roboto Mono', Menlo
  outline none
  height 100%
  *
    outline none
    box-shadow none

.CodeMirror-scroll
  overflow hidden !important
  margin-bottom 0
  margin-right 0
  padding-bottom 0

.jwt-playground .input
  &.error
    background pink
  &.warning
    background #fff7c9
    margin: 0
  .CodeMirror
    font-size 20px
    line-height 30px
    .cm-jwt-dot
      color black
    .cm-jwt-header
      color #FB015B
    .cm-jwt-payload
      color #D63AFF
    .cm-jwt-signature
      color #00B9F1

.jwt-playground .output .jwt-explained pre
  font-size 14px
  line-height 1.5

.jwt-playground .output .jwt-header
  .text-line a, .CodeMirror *
    color #FB015B

.jwt-playground .output .jwt-payload
  .text-line a, .CodeMirror *
    color #D63AFF

.jwt-playground .output .jwt-signature
  .text-line a, pre
    color #00B9F1
