// Fakt

@font-face {
  font-family: 'fakt-web';
  src: url("https://cdn.auth0.com/styleguide/core/2.0.4/fonts/fakt/FaktPro-Blond.woff2") format("woff2"),
       url("https://cdn.auth0.com/styleguide/core/2.0.4/fonts/fakt/FaktPro-Blond.woff") format("woff"),
       url("https://cdn.auth0.com/styleguide/core/2.0.4/fonts/fakt/FaktPro-Blond.ttf") format("truetype")
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'fakt-web';
  src: url("https://cdn.auth0.com/styleguide/core/2.0.4/fonts/fakt/FaktPro-Normal.woff2") format("woff2"),
       url("https://cdn.auth0.com/styleguide/core/2.0.4/fonts/fakt/FaktPro-Normal.woff") format("woff"),
       url("https://cdn.auth0.com/styleguide/core/2.0.4/fonts/fakt/FaktPro-Normal.ttf") format("truetype")
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'fakt-web';
  src: url("https://cdn.auth0.com/styleguide/core/2.0.4/fonts/fakt/FaktPro-Medium.woff2") format("woff2"),
       url("https://cdn.auth0.com/styleguide/core/2.0.4/fonts/fakt/FaktPro-Medium.woff") format("woff"),
       url("https://cdn.auth0.com/styleguide/core/2.0.4/fonts/fakt/FaktPro-Medium.ttf") format("truetype")
  font-weight: 500;
  font-style: normal;
}
