clearfix()
  &:after
    clear: both

  &:after, &:before
    content: ""
    display: table

  *zoom: 1

breakpoint(point = "min-width", value = 0)
  if point == "mobile"
    @media (min-width: 320px)
      {block}

  else if point == "mobile-landscape"
    @media (min-width: 568px)
      {block}

  else if point == "tablet"
    @media (min-width: 768px)
      {block}

  else if point == "desktop"
    @media (min-width: 992px)
      {block}

  else if point == "desktop-big"
    @media (min-width: 1280px)
      {block}

  else if point == "retina-only"
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
      {block}

  else
    @media (point: value)
      {block}

grid(cols = 1, gutter = 0, childs = ".item")
  clearfix()
  width: auto
  margin-right: -(gutter)

  {childs}
    float: left
    width: (100% / cols)
    padding-right: gutter
    background-clip: content-box
    box-sizing border-box

transition(arguments)
  -webkit-transition: arguments
  transition: arguments

transform(arguments)
  -webkit-transform: arguments
  transform: arguments