@import '../website/index'

.container
  width 800px

.jwt-clipboard-btn
  background #000
  display inline-block
  padding 6px 6px
  padding-left 15px
  color #fff !important
  text-decoration none !important
  border-radius 20px
  text-transform uppercase
  font-size 12px
  letter-spacing .5px
  position relative
  line-height 20px
  padding-right 40px
  width 170px
  text-align center

  &:hover
    opacity: 0.85

  span
    padding-left 15px

  img
    position absolute
    top 5px
    right 7px

.h-block
  display inline-block;

  & + .h-block
    margin-left: 15px;

.jwt-playground
  padding-top 12px

  .save-back
    color #0094c1
    margin-left 15px

  .colophon
    margin-top 12px
    margin-bottom 12px
    position relative
    font-size 12px

    img
      height 14px

    .share-callouts
      margin-left 20px

      svg
        position relative
        top 5px
        margin-left 4px

    a
      text-decoration none
      color currentColor

    .keep-deco:hover
      text-decoration underline

  .top-section
    margin-bottom 10px

    a
      outline none

  .keyboard-info
    display inline-block
    margin-left 20px
    opacity 0.5
    //line-height 37px

  .algorithm
    text-align right

  .validation-status
    margin-top 10px
    padding 5px 0
    font-size 20px
    text-align center
    &.valid-token
      background-color #00B9F1
      color white
    &.invalid-token
      background-color red
      color white

    i 
      line-height 22px
      font-size 20px

  .algorithm-code
    margin-top 0px

    .tab-content
      .jwt-explained
        .text-line
          font-size 9px
        pre
          font-size 11px
          line-height 1.5
          padding 0
        .CodeMirror-wrap,
        .pre-encode
          min-height 105px
          padding: 8px
      .input
        padding 10px

    .tab-nav
      margin-bottom 10px

      a
        font-size 16px

.custom-select
  display inline-block
  position relative
  select
    background white
    width 100px
    height 38px
    font-size 12px
    padding 0 10px
    border 1px solid #D8D8D8
    border-radius 3px
    -webkit-appearance none
    -moz-appearance none
    appearance none
    outline 0
    &::-ms-expand
      display none

  &:before
    content ""
    background white
    height 28px
    width 23px
    display block
    position absolute
    right 2px
    top 1px
    pointer-events none

  &:after
    background url(/img/bg_arrow_select.svg) no-repeat
    width 8px
    height 6px
    content ''
    display inline-block
    position absolute
    top 13px
    right 10px
    pointer-events none

.select-field + .select-field
  margin-right 15px

.algorithm span
  font-size 10px !important

.select-field
  text-align center  
  span
    font-weight bold
    text-transform uppercase    
    vertical-align middle
    font-size 10px
    position relative
    top 2px
  .custom-select
    margin-left 10px
    
    select
      height 30px

section
  padding 15px 0 0 0
  +breakpoint("tablet")
    padding 0px 0
