section.sources
  .container
    .columns
      .column.libraries 
        .libraries-container
          h2 Looking for a JWT library?
          p Head on over to our libraries page to find a JWT library in your favorite language.
          a(href="/libraries").btn.btn-lg See all libraries
      .column.badges
        h2 Badges
        .hold
          a(href='http://jwt.io/img/badge.svg', target='_blank' title='Download View on JWT.io badge logo')
            img(src='img/badge.svg' alt='View on JWT.io badge logo')
        .text-hold
          a(href='http://jwt.io/img/badge.svg', target='_blank' title='Download View on JWT.io badge logo')
            i.icon-budicon-722
          p http://jwt.io/img/badge.svg
        .hold
          a(href='http://jwt.io/img/badge-compatible.svg', target='_blank' title='Download JWT compatible badge logo')
            img(src='img/badge-compatible.svg' alt='JWT compatible badge logo')
        .text-hold
          a(href='http://jwt.io/img/badge-compatible.svg', target='_blank' title='Download JWT compatible badge logo')
            i.icon-budicon-722
          p http://jwt.io/img/badge-compatible.svg
      .column.logotype
        h2 Logotype
        .hold
          a(href='http://jwt.io/img/icon.svg', target='_blank' title='Download JWT logo mark icon')
            img(src='img/icon.svg' alt='JWT logo mark icon')
        .text-hold
          a(href='http://jwt.io/img/icon.svg', target='_blank' title='Download JWT logo mark icon')
            i.icon-budicon-722
          p http://jwt.io/img/icon.svg
        .hold
          a(href='http://jwt.io/img/logo-asset.svg', target='_blank' title='Download JWT logo')
            img(src='img/logo-asset.svg' alt='JWT logo')
        .text-hold
          a(href='http://jwt.io/img/logo-asset.svg', target='_blank' title='Download JWT logo')
            i.icon-budicon-722
          p http://jwt.io/img/logo-asset.svg
