section.sources
  .container
    .columns
      .column.badges
        h2 Badges
        .hold
          a(href='http://jwt.io/assets/badge.svg', target='_blank')
            img(src='assets/badge.svg')
        .text-hold
          a(href='http://jwt.io/assets/badge.svg', target='_blank')
            i.icon-budicon-722
          p http://jwt.io/assets/badge.svg
        .hold
          a(href='http://jwt.io/assets/badge-compatible.svg', target='_blank')
            img(src='assets/badge-compatible.svg')
        .text-hold
          a(href='http://jwt.io/assets/badge-compatible.svg', target='_blank')
            i.icon-budicon-722
          p http://jwt.io/assets/badge-compatible.svg
      .column.logotype
        h2 Logotype
        .hold
          a(href='http://jwt.io/assets/icon.svg', target='_blank')
            img(src='assets/icon.svg')
        .text-hold
          a(href='http://jwt.io/assets/icon.svg', target='_blank')
            i.icon-budicon-722
          p http://jwt.io/assets/icon.svg
        .hold
          a(href='http://jwt.io/assets/logo.svg', target='_blank')
            img(src='assets/logo.svg')
        .text-hold
          a(href='http://jwt.io/assets/logo.svg', target='_blank')
            i.icon-budicon-722
          p http://jwt.io/assets/logo.svg
      .column.tshirt
        h2 Store
        img(src='img/pic_tshirt.png')
        a.buy(href='http://swag.auth0.com/', target='_blank') Buy T-Shirt
        