.tokens-created
  .container
    img(src='/img/auth0_logo_ft.svg' alt='Auth0 logo').logo
    p JWT.io is brought to you by 
      a(href='https://auth0.com/signup/?utm_source=jwt.io&utm_medium=microsites&utm_campaign=devn_signup', target="_blank", rel="noreferrer noopener") Auth0
    p Securely implement authentication with JWTs using Auth0 on any stack and any device in less than 10 minutes.

    a(href='https://auth0.com/signup/?utm_source=jwt.io&utm_medium=microsites&utm_campaign=devn_signup', target="_blank", rel="noreferrer noopener").btn.btn-success Create free account

    .token
      h5 TOKENS CREATED

    .counter
    