section.jtw-ebook-banner
  span
    strong Get the JWT Handbook for free!
    | &nbsp;Spread the word and download it now.
  a.btn.btn-download-ebook(href='https://auth0.com/resources/ebooks/jwt-handbook?utm_source=jwtio&utm_medium=control&utm_campaign=gc_jwt_test_10_2019', target='_blank') Download Ebook
