section.jtw-ebook-banner
  span
    strong Get the JWT Handbook for free!
    | Spread the word and download it now.
  a.btn.btn-download-ebook(href='https://auth0.com/e-books/jwt-handbook?utm_source=jwtio&utm_medium=sc&utm_campaign=rotating_banner', target='_blank') Download Ebook
