section.container
  .jtw-ebook-banner.jwt-ebook-banner-image
    p
      strong Get the JWT Handbook for free!
      | &nbsp;Download it now and get up-to-speed faster.
    a.btn.btn-download-ebook(href='https://auth0.com/resources/ebooks/jwt-handbook', target='_blank') Download Ebook
