section.update-site
  span
    strong Love JWT.IO?
    | Bring the debugger to your favorite browser with our new browser extension.
  a#extension-button.extension-button
    svg(width='14px', height='13px', viewbox='24 11 14 13', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
      defs
        path#path-1(d='M30.0287226,15.7142857 L30.0287226,11 L31.600907,11 L31.600907,15.7142857 L36.3174603,15.7142857 L36.3174603,17.2857143 L31.600907,17.2857143 L31.600907,22 L30.0287226,22 L30.0287226,17.2857143 L25.3121693,17.2857143 L25.3121693,15.7142857 L30.0287226,15.7142857 Z')
        filter#filter-2(x='-50%', y='-50%', width='200%', height='200%', filterunits='objectBoundingBox')
          feoffset(dx='0', dy='1', in='SourceAlpha', result='shadowOffsetOuter1')
          fegaussianblur(stddeviation='0.5', in='shadowOffsetOuter1', result='shadowBlurOuter1')
          fecolormatrix(values='0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0', type='matrix', in='shadowBlurOuter1')
      g#Rectangle-213(stroke='none', fill='none')
        use(fill='black', fill-opacity='1', filter='url(#filter-2)', xlink:href='#path-1')
        use(fill='#FFFFFF', fill-rule='evenodd', xlink:href='#path-1')

    span.button-text Add to Browser