extends layout
    
block content
  section.banner-jwt
    .container
      a.logo(href='/')
        img(src='/img/pic_logo.svg', alt='JWT logo mark - Token Based Authentication')

      p
        | JSON Web Tokens are an open, industry standard&nbsp;
        a(href='https://tools.ietf.org/html/rfc7519', target='_blank') RFC 7519
        |  method for representing claims securely between two parties.
      p JWT.IO allows you to decode, verify and generate JWT.

      a.btn.btn-lg(href="/introduction") Learn more about jwt
      a.btn.btn-lg.btn-ghost(href="/libraries") See jwt libraries

  include token-editor.pug

  include ebook.pug

  include assets.pug

  include counter.pug

  script(src='/js/index.js')
