doctype html
html(lang='en')
  head
    include ../title.pug
    include ../schema.pug

    //- Google Verification Code
    meta(name="google-site-verification", content="cFjJt_KK4v_TKnCZ3hcuLlEUBBk4RLT0iByrpjCsvLA")
    // For Chrome extension inline install
    meta(name="google-site-verification", content="eksHKAourReHdYNGn8amokJTErSTq0VzdQWuyU_hE2s")

    //- Twitter Card
    block twittercard
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:creator', content='@auth0')
      meta(name='twitter:title', content='JWT.IO')
      meta(name='twitter:description', content='JSON Web Tokens are an open, industry standard RFC 7519 method for representing claims securely between two parties.')
      meta(name='twitter:image', content='http://jwt.io/img/twitter-card.png')

    //- Facebook Card
    block opengraph
      meta(property='og:type', content='website')
      meta(property='og:title', content='JWT.IO')
      meta(property='og:description', content='JSON Web Tokens are an open, industry standard RFC 7519 method for representing claims securely between two parties.')
      meta(property='og:locale', content='en_US')
      meta(property='og:url', content='http://jwt.io/')
      meta(property='og:image', content='http://jwt.io/img/facebook-card.png')
      meta(property='og:image:type', content='image/png')
      meta(property='og:image:width', content='1200')
      meta(property='og:image:height', content='630')

    include ../stylesheets.pug

    link(rel='search', type='application/opensearchdescription+xml', title='JWT.io', href='/opensearch.xml')

    include ../icons.pug

    // Chrome extension link, required for inline installs
    link(rel="chrome-webstore-item", href="https://chrome.google.com/webstore/detail/ppmmlchacdbknfphdeafcbmklcghghmd")

  body
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-W7FRLJ', height='0', width='0', style='display:none;visibility:hidden')

    include ./navigation.pug

    block content

    footer
      .container
        .columns
          .column
            div.privacy-links
              a(href='https://auth0.com/privacy/', target="_blank")
                | Privacy
              span •
              a(href='https://auth0.com/web-terms', target="_blank")
                | Terms of Service
              span •
              button.as-anchor#open-ccpa
                | Your Privacy Choices 
              img.ccpa-toggle(src='https://cdn.auth0.com/website/footer/ccpa.svg' alt='Privacy choices')
            a(href='https://developer.auth0.com', target="_blank")
              | Crafted by
              img(src='/img/auth0_logo_ft.svg' alt='Crafted by Auth0 - JWT.io Token Based Authentication').logo
            #ccpa-modal
              button#close-ccpa x
              h3 Your Privacy Choices
              p Depending on your state of residence, including if you are a California resident, you have the right to opt out of certain sharing of personal information with third-party ad partners. We may share personal information with third-party ad partners, such as through cookies or by providing lists of email addresses for potential customers, so that we can reach them across the web with relevant ads.
              p If you wish to opt out of this sharing of your personal data in connection with cookies, please update your 
                button.settings(onClick="window.OneTrust.ToggleInfoDisplay()") cookie settings.
              p If you wish to opt out of email-based sharing, provide your email address at 
                a.settings(href="https://www.okta.com/your-privacy-choices/", target="_blank") this link.

          .column.pull-request
            span Missing something?
            a(href='https://github.com/jsonwebtoken/jsonwebtoken.github.io/tree/master/views', target="_blank") Send a Pull Request
            a(style='text-decoration: none') -
            a(href='https://github.com/jsonwebtoken/jsonwebtoken.github.io/blob/master/LICENSE.txt', target="_blank") License
          .column.social-counter
            a.twitter-follow-button(href='https://twitter.com/auth0', data-show-count='true') Follow @auth0

    if process.env.NODE_ENV === "production"
      script(src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js", type="text/javascript", charset="UTF-8", data-domain-script=COOKIE_CONSENT_DOMAIN_ID, id="consent-script")    
      script(src="/js/cookie-consent.js")
