section#libraries-io.libraries-jwt
  .container
    .title-header
      h1 Libraries for Token Signing/Verification

      .filter
        span Filter by
        .jwt-select
          select#libraries-select
            option(value='*', selected='') All
            // Languages must be in alphabetic order
            each lang in Object.keys(languages).sort()
              option(value=`.${languages[lang].uniqueClass}`) #{lang}

    .warning
      b Warning:
      |  Critical vulnerabilities in JSON Web Token libraries with asymmetric keys.
      a(href='https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/')
        | Learn more

        svg(height='48', viewbox='0 0 48 48', width='48', xmlns='http://www.w3.org/2000/svg')
          path(d='M-838-2232H562v3600H-838z', fill='none')
          path(d='M16 10v28l22-14z')

    .libraries-sv(data-accordion-group)
      each lang in languages
        each lib in lang.libs
          include libraries/template.pug
