extends layout

block meta
  title JSON Web Token Libraries - jwt.io
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
  meta(name='author', content='auth0.com')
  meta(name='description', content='Find an overview of libraries that help you work with JSON Web Tokens in your favorite language.')
  meta(name='canonical', content='https://auth0.com/learn/json-web-tokens/')
  link(rel="canonical", href="https://jwt.io/libraries")

block twittercard
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:creator', content='@auth0')
  meta(name='twitter:title', content='JWT.IO - JSON Web Tokens Libraries')
  meta(name='twitter:description', content='Find an overview of libraries that help you work with JSON Web Tokens in your favorite language.')
  meta(name='twitter:image', content='http://jwt.io/img/twitter-card.png')

block opengraph
  meta(property='og:type', content='website')
  meta(property='og:title', content='JWT.IO - JSON Web Tokens Libraries')
  meta(property='og:description', content='Find an overview of libraries that help you work with JSON Web Tokens in your favorite language.')
  meta(property='og:locale', content='en_US')
  meta(property='og:url', content='http://jwt.io/')
  meta(property='og:image', content='http://jwt.io/img/facebook-card.png')
  meta(property='og:image:type', content='image/png')
  meta(property='og:image:width', content='1200')
  meta(property='og:image:height', content='630')

block content
  section.banner-jwt
    .container
      a.logo(href='/')
        img(src='/img/pic_logo.svg' alt='JWT logo')

      h1 Libraries for Token Signing/Verification
  section#libraries-io.libraries-jwt
    .container
      .title-header
        .filter
          label(for='libraries-select') Filter by
          .jwt-select
            select#libraries-select
              option(value='*', selected='') All
              // Languages must be in alphabetic order
              -
                const sortedLangs = Array.from(languages);
                sortedLangs.sort((a, b) => a.name.localeCompare(b.name));
              each lang in sortedLangs
                option(value=`.${lang.uniqueClass}`) #{lang.name}

      .libraries-sv(data-accordion-group)
        each lang in languages
          each lib in lang.libs
            include libraries/template.pug
  
  include counter.pug

  script(src='/js/libraries.js')