.top-banner-bg
.top-banner
  .top-banner-container
    a(href="https://a0.to/jwt-io-feedback" target="_blank") Learn about the upcoming changes to jwt.io and share your feedback
      span(aria-hiden="true") →
    button.close-top-banner +

.top-banner-spacer

nav.navbar.closed.top-banner-open
    .container
      .top-mobile
        .menu-trigger
          span

        a.brand(href='/')
          img(src='/img/pic_logo.svg' alt='JWT logo').icon
          img(src='/img/logo.svg' alt='JWT logo').logo

      nav.menu
        a(href='/#debugger-io').scrollto Debugger
        a(href='/libraries') Libraries
        a(href='/introduction') Introduction
        a(href='https://community.auth0.com/c/jwt/8', target='_blank') Ask

      .social
        a.a0(href='https://developer.auth0.com', target='_blank')
          span.by-text Crafted by
          img(src='/img/auth0_logo_header.svg', alt='Crafted by Auth0 - JWT.io Token Based Authentication')
          span.crafted-by__question-mark ?

      a.supported(href='https://auth0.com', target="_blank")
          | Crafted by
          img(src='/img/auth0_logo_ft.svg', alt='Crafted by Auth0 - JWT.io Token Based Authentication').logo-mobile
