nav.navbar.closed
    .container
      .top-mobile
        .menu-trigger
          span

        a.brand(href='/')
          img(src='/img/pic_logo.svg' alt='JWT logo').icon
          img(src='/img/logo.svg' alt='JWT logo').logo

      nav.menu
        a(href='/') Debugger
        a(href='/libraries') Libraries
        a(href='/introduction') Introduction
        a(href='https://community.auth0.com/c/identity/jwt', target='_blank') Ask

      .social
        a.a0(href='https://auth0.com/developers?utm_source=jwtio&utm_medium=navbar_whats_auth0&utm_campaign=jwt_nav_cta_12_2019', target='_blank')
          span.by-text Crafted by
          img(src='/img/pic_logo_ft.svg', alt='Crafted by Auth0 - JWT.io Token Based Authentication')
          span.crafted-by__question-mark ?

      a.supported(href='https://auth0.com/?utm_source=jwtio&utm_campaign=craftedby', target="_blank")
          | Supported by
          img(src='/img/ico_logo.svg', alt='Supported by Auth0 - JWT.io Token Based Authentication')