section#debugger-io.debugger-jwt
  .container
    //- a(name='debugger')
    h1 Debugger

    .jwt-playground
      .selections
        .algorithm
          span Algorithm
          .jwt-select
            include ../token-editor-algorithms.pug

      include ../token-editor-common.pug
      .debugger-footer.container
        .row
          .col-xs-6.website-validation
            include ../token-editor-validation.pug
          .col-xs-6.website-share
            button.btn
              span SHARE JWT
