@use "@/libs/theme/styles/variables" as *;
@use "@/libs/theme/styles/mixins" as *;

.cardTabs__container {
  grid-column: 1 / -1;
  display: flex;
  height: 100%;
  width: 100%;
  max-height: fit-content;
  flex-direction: column;
  row-gap: 1rem;

  cursor: default;
}

.cardTabs__title {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: .25rem;
  color: var(--color_fg_default);
  font-size: 1rem;
  line-height: 1.15rem;
  font-weight: 700;
  letter-spacing: -.1px;
}

.cardTabs {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: .5px solid var(--color_border_default);
    background: var(--color_bg_layer_alternate-bold);
    padding: .25rem;
    letter-spacing: -.1px;
    gap: .25rem;
}

$cardTabs__tabList__height: 2.5rem;

.cardTabs__tabList {
    position: relative;
    display: flex;
    height: 2.5rem;
    padding: .5rem;
    gap: .25rem;
}

.cardTabs__title__container {
  display: flex;

}

.cardTab__title {
    display: flex;
    align-items: center;
    gap: .25rem;
    border-radius: .5rem;
    padding: 0 .5rem;
    color: var(--color_fg_default);
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: 500;
    letter-spacing: -.1px;
    cursor: pointer;

  &[data-selected="true"] {
    background-color: var(--color_bg_layer);
    box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 1px 1px -.5px rgba(0,0,0,.04),inset 0 0 0 1px rgba(0,0,0,.04);
  }

  &[data-focus-visible]:after {
    content: "";
    position: absolute;
    inset: 4px;
    border-radius: 0.125rem;
    border: 1px solid var(--color_border_selected);
  }
}

.cardTab__title__full {
  display: none;
  font-weight: 500;

  @media #{$breakpoint-dimension-sm} {
    display: flex;
  }
}

.cardTab__title__compact {
  @media #{$breakpoint-dimension-sm} {
    display: none;
  }
}

.cardTabs__actionButtons {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.cardTabs__tooltipContainer {
    position: relative;
    display: inline-block;
    &:hover {
      .button__tooltip {
        opacity: 1;
      }
    }
}

.cardTabs__body {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: var(--color_fg_default);
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  overflow: hidden;

  padding: 0;
}

.cardTabs__footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  padding: 0.25rem 1rem;

  border-top: 1px solid var(--color_border_bold);
}

.indicator {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 0.5rem 1rem;
  gap: 0.25rem;
  font-size: 0.875rem;
  color: var(--color_fg_default);

  border-top: 1px solid var(--color_border_bold);
}
.indicator__success {
  background-color: var(--color_bg_state_success_subtle);
  color: var(--color_fg_on_state_success_subtle);
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.indicator__error {
  background-color: var(--color_bg_state_danger_subtle);
  color: var(--color_fg_on_state_danger_subtle);
}

.indicator__warning {
  background-color: var(--color_bg_state_caution_subtle);
  color: var(--color_fg_on_state_caution_subtle);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.dialog {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  max-width: 84rem;
  z-index: 300;
  overflow: hidden;
  cursor: pointer;
}
