@use "@/libs/theme/styles/variables" as *;

.container {
  display: none;

  @media #{$breakpoint-dimension-sm} {
    display: block;
    flex-shrink: 1;
    position: sticky;
    color: var(--color_fg_link);
    margin: 2rem 0rem;;
    padding: 0rem 1rem;
    top: $main-nav-height + 2rem; // additional value must be equal to top margin + top padding
    border-right: 1px solid var(--color_border_bold);
    font-size: 0.875rem;
    max-width: 20rem;
    height: fit-content;
  }
}

.title {
  cursor: pointer;
}

.title__active {
  color: var(--color_fg_selected);
  text-decoration: underline;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
