// Go dgrijalva/jwt-go
.col-md-4
  .panel.panel-default
    .panel-heading.color-8
      h3.panel-title
        img(src='img/8.svg', alt='')
        | Go
    .panel-wrap
      .panel-body.library
        .row
          .col-xs-6
            div
              span.icon-check
              | Sign
            div
              span.icon-check
              | Verify
            .grey
              span.icon-cross
              | iss check
            .grey
              span.icon-cross
              | sub check
            .grey
              span.icon-cross
              | aud check
            div
              span.icon-check
              | exp check
            div
              span.icon-check
              | nbf check
            .grey
              span.icon-cross
              | iat check
            .grey
              span.icon-cross
              | jti check
          .col-xs-6.right
            div
              span.icon-check
              | HS256
            .grey
              span.icon-cross
              | HS384
            .grey
              span.icon-cross
              | HS512
            div
              span.icon-check
              | RS256
            .grey
              span.icon-cross
              | RS384
            .grey
              span.icon-cross
              | RS512
            .grey
              span.icon-cross
              | ES256
            .grey
              span.icon-cross
              | ES384
            .grey
              span.icon-cross
              | ES512
        .author-info
          a(href='https://github.com/dgrijalva')
            i.icon-budicon-333(data-toggle='tooltip', title='Maintainer: dgrijalva')
          span.stars(data-repo='dgrijalva/jwt-go')
            i.icon-budicon-466
          .repository
            i.fa.fa-github
            a(href='https://github.com/dgrijalva/jwt-go') View Repo
      .panel-footer
        code go get github.com/dgrijalva/jwt-go