// Haskell ssaasen/haskell-jwt
.col-md-4
  .panel.panel-default
    .panel-heading.color-9
      h3.panel-title
        img(src='img/9.svg', alt='')
        | Haskell
    .panel-wrap
      .panel-body.library
        .row
          .col-xs-6
            div
              span.icon-check
              | Sign
            div
              span.icon-check
              | Verify
            .grey
              span.icon-cross
              | iss check
            .grey
              span.icon-cross
              | sub check
            .grey
              span.icon-cross
              | aud check
            .grey
              span.icon-cross
              | exp check
            .grey
              span.icon-cross
              | nbf check
            .grey
              span.icon-cross
              | iat check
            .grey
              span.icon-cross
              | jti check
          .col-xs-6.right
            div
              span.icon-check
              | HS256
            .grey
              span.icon-cross
              | HS384
            .grey
              span.icon-cross
              | HS512
            .grey
              span.icon-cross
              | RS256
            .grey
              span.icon-cross
              | RS384
            .grey
              span.icon-cross
              | RS512
            .grey
              span.icon-cross
              | ES256
            .grey
              span.icon-cross
              | ES384
            .grey
              span.icon-cross
              | ES512
        .author-info
          a(href='https://bitbucket.org/ssaasen')
            i.icon-budicon-333(data-toggle='tooltip', title='Maintainer: Stefan Saasen')
          span.stars
          .repository
            i.fa.fa-bitbucket
            a(href='https://bitbucket.org/ssaasen/haskell-jwt') View Repo
      .panel-footer
        code cabal install jwt