// Java jose4j
.col-md-4
  .panel.panel-default
    .panel-heading.color-4
      h3.panel-title
        img(src='img/4.svg', alt='')
        | Python
    .panel-wrap
      .panel-body.library
        .row
          .col-xs-6
            div
              span.icon-check
              | Sign
            div
              span.icon-check
              | Verify
            div
              span.icon-check
              | iss check
            .grey
              span.icon-cross
              | sub check
            div
              span.icon-check
              | aud check
            div
              span.icon-check
              | exp check
            div
              span.icon-check
              | nbf check
            .grey
              span.icon-cross
              | iat check
            .grey
              span.icon-cross
              | jti check
          .col-xs-6.right
            div
              span.icon-check
              | HS256
            div
              span.icon-check
              | HS384
            div
              span.icon-check
              | HS512
            div
              span.icon-check
              | RS256
            div
              span.icon-check
              | RS384
            div
              span.icon-check
              | RS512
            div
              span.icon-check
              | ES256
            div
              span.icon-check
              | ES384
            div
              span.icon-check
              | ES512
        .author-info
          a(href='https://github.com/jpadilla')
            i.icon-budicon-333(data-toggle='tooltip', title='Maintainer: José Padilla')
          span.stars(data-repo='jpadilla/pyjwt')
            i.icon-budicon-466
          .repository
            i.fa.fa-github
            a(href='https://github.com/jpadilla/pyjwt/') View Repo
      .panel-footer
        code pip install pyjwt