// .NET json-jwt
article.jwt-net.net.accordion(data-accordion)
  .panel-heading(data-control)
    img(src='/img/1.svg')
    h3 .NET (RT)
  .panel-wrap(data-content)
    .panel-body
      .column
        p
          i.icon-budicon-500
          | Sign
        p
          i.icon-budicon-500
          | Verify
        p
          i.icon-budicon-501
          code iss
          |  check
        p
          i.icon-budicon-501
          code sub
          |  check
        p
          i.icon-budicon-501
          code aud
          |  check
        p
          i.icon-budicon-501
          code exp
          |  check
        p
          i.icon-budicon-501
          code nbf
          |  check
        p
          i.icon-budicon-501
          code iat
          |  check
        p
          i.icon-budicon-501
          code jti
          |  check
      .column
        p
          i.icon-budicon-500
          | HS256
        p
          i.icon-budicon-500
          | HS384
        p
          i.icon-budicon-500
          | HS512
        p
          i.icon-budicon-500
          | RS256
        p
          i.icon-budicon-500
          | RS384
        p
          i.icon-budicon-500
          | RS512
        p
          i.icon-budicon-500
          | ES256
        p
          i.icon-budicon-500
          | ES384
        p
          i.icon-budicon-500
          | ES512

    .author-info
      .maintainer
        a(href='https://github.com/dvsekhvalnov/jose-rt')
          i.icon-budicon-333(data-toggle='tooltip', title='', data-original-title='Maintainer')
          | DV
      .repository
        i.icon-1392070209-icon-social-github
        a(href='https://github.com/dvsekhvalnov/jose-rt') View Repo

    .panel-footer
      code
        | Install-Package
        br
        a(href='http://www.nuget.org/packages/jose-rt/') jose-rt