// Node.js jsonwebtoken
.col-md-4
  .panel.panel-default.patched
    .panel-heading.color-3
      h3.panel-title
        img(src='img/3.svg', alt='')
        | Java
    .panel-wrap
      .panel-body.library
        .row
          .col-xs-6
            div
              span.icon-check
              | Sign
            div
              span.icon-check
              | Verify
            div
              span.icon-check
              | iss check
            div
              span.icon-check
              | sub check
            div
              span.icon-check
              | aud check
            div
              span.icon-check
              | exp check
            div
              span.icon-check
              | nbf check
            div
              span.icon-check
              | iat check
            div
              span.icon-check
              | jti check
          .col-xs-6.right
            div
              span.icon-check
              | HS256
            div
              span.icon-check
              | HS384
            div
              span.icon-check
              | HS512
            div
              span.icon-check
              | RS256
            div
              span.icon-check
              | RS384
            div
              span.icon-check
              | RS512
            div
              span.icon-check
              | ES256
            div
              span.icon-check
              | ES384
            div
              span.icon-check
              | ES512
        .author-info
          a(href='https://twitter.com/__b_c')
            i.icon-budicon-333(data-toggle='tooltip', title='Maintainer: __b_c')
          span.stars
          .repository
            i.fa.fa-bitbucket
            a(href='https://bitbucket.org/b_c/jose4j') View Repo
      .panel-footer
        code maven: org.bitbucket.b_c / jose4j / 0.4.2