// Python jpadilla/pyjwt
article.jwt-python.accordion(data-accordion)
  .panel-heading(data-control)
    img(src='/img/4.svg')
    h3 Python
  .panel-wrap(data-content)
    .version
      p Minimum Version 1.0.1
        a(href='https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/', target='_blank')
          img(src='img/ico_question.svg')
    .panel-body.mversion
      .column
        p
          i.icon-budicon-500
          | Sign
        p
          i.icon-budicon-500
          | Verify
        p
          i.icon-budicon-500
          code iss
          |  check
        p
          i.icon-budicon-501
          code sub
          |  check
        p
          i.icon-budicon-500
          code aud
          |  check
        p
          i.icon-budicon-500
          code exp
          |  check
        p
          i.icon-budicon-500
          code nbf
          |  check
        p
          i.icon-budicon-500
          code iat
          |  check
        p
          i.icon-budicon-501
          code jti
          |  check
      .column
        p
          i.icon-budicon-500
          | HS256
        p
          i.icon-budicon-500
          | HS384
        p
          i.icon-budicon-500
          | HS512
        p
          i.icon-budicon-500
          | RS256
        p
          i.icon-budicon-500
          | RS384
        p
          i.icon-budicon-500
          | RS512
        p
          i.icon-budicon-500
          | ES256
        p
          i.icon-budicon-500
          | ES384
        p
          i.icon-budicon-500
          | ES512

    .author-info
      .maintainer
        a(href='https://github.com/jpadilla')
          i.icon-budicon-333(data-toggle='tooltip', title='', data-original-title='Maintainer')
          | José Padilla
        span.stars(data-repo='jpadilla/pyjwt', style='display: inline;')
          i.icon-budicon-466
      .repository
        i.icon-1392070209-icon-social-github
        a(href='https://github.com/jpadilla/pyjwt/') View Repo

    .panel-footer
      code pip install pyjwt
