// kdb+/Q 
article.jwt-q.accordion(data-accordion)
  .panel-heading(data-control)
    img(src='/img/q.svg')
    h3 kdb+/Q
  .panel-wrap(data-content)
    .panel-body
      .column
        p
          i.icon-budicon-500
          | Sign
        p
          i.icon-budicon-500
          | Verify
        p
          i.icon-budicon-501
          code iss
          |  check
        p
          i.icon-budicon-501
          code sub
          |  check
        p
          i.icon-budicon-501
          code aud
          |  check
        p
          i.icon-budicon-501
          code exp
          |  check
        p
          i.icon-budicon-501
          code nbf
          |  check
        p
          i.icon-budicon-501
          code iat
          |  check
        p
          i.icon-budicon-501
          code jti
          |  check
      .column
        p
          i.icon-budicon-500
          | HS256
        p
          i.icon-budicon-500
          | HS384
        p
          i.icon-budicon-500
          | HS512
        p
          i.icon-budicon-501
          | RS256
        p
          i.icon-budicon-501
          | RS384
        p
          i.icon-budicon-501
          | RS512
        p
          i.icon-budicon-501
          | ES256
        p
          i.icon-budicon-501
          | ES384
        p
          i.icon-budicon-501
          | ES512

    .author-info
      .maintainer
        a(href='https://github.com/tjcelaya')
          i.icon-budicon-333(data-toggle='tooltip', title='', data-original-title='Maintainer')
          | tjcelaya
        span.stars(data-repo='tjcelaya/jwt.q', style='display: inline;')
          i.icon-budicon-466
      .repository
        i.icon-1392070209-icon-social-github
        a(href='https://github.com/tjcelaya/jwt.q') View Repo


    .panel-footer
      code git clone https://github.com/tjcelaya/jwt.q
