@use "@/libs/theme/styles/variables" as *;
@use "@/libs/theme/styles/mixins" as *;

.encoderCards {
  display: none;

  @media #{$breakpoint-dimension-sm} {
    display: grid;
    grid-column: span 6;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    gap: 1rem;
  }
}

.encoderCardTabs {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  gap: 1rem;

  @media #{$breakpoint-dimension-sm} {
    display: none;
  }
}
.headline_container {
  display: flex;
  grid-column: 1/-1;
  width: 100%;
  justify-content: space-between;
}

.headline {
  display: flex;
  grid-column: 1/-1;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -.1px;
  color: var(--color_fg_default);
}