@use "@/libs/theme/styles/variables" as *;


.encoder__switch {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;

  @media #{$breakpoint-dimension-sm} {
    align-self: unset;
  }
}

.picker {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
  color: var(--color_fg_bold);
  gap: .75rem;
  width: 100%;
}

.label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    list-style-type: none;
    margin: 0;
    gap: .5rem;
    font-size: .875rem;
    line-height: 1.35;
    width: 100%;
    height: 100%;
}

.select {
  display: flex;
  padding: 0.125rem 1.75rem 0.125rem 0.875rem;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;

  border-radius: 0.25rem;
  border: 1px solid var(--color_border_button);

  color: var(--color_fg_default);
  font-variant-numeric: slashed-zero;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: 0.2px;
  appearance: none;

  z-index: 2;

  background-color: transparent;
}

.icon {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-40%);

  svg {
    height: 1rem;
    width: 1rem;

    path {
      fill: var(--color_fg_default);
    }
  }

  @media #{$breakpoint-dimension-sm} {
    transform: translateY(-45%);

    svg {
      height: 1.25rem;
      width: 1.25rem;
    }
  }
}
