.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  background-color: var(--color_bg_app_bar);
  border: 1px solid var(--color_border_default);
  border-radius: 9999px;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem;
  gap: 0.125rem;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color_fg_default);
  cursor: pointer;
  padding: 0.25rem;
  position: relative;
  transition: all 0.2s ease;
  border-radius: 9999px;
  width: 2.5rem;
  height: 1.75rem;

  &[data-active="true"] {
    background-color: var(--color_bg_layer);
    color: var(--color_fg_bold);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  &:hover {
    background-color: var(--color_bg_layer_alternate-bold);
  }
}

.option__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  svg {
    height: 1rem;
    width: 1rem;
  }
}
