@use "@/libs/theme/styles/variables" as *;
@use "@/libs/theme/styles/mixins" as *;

.content {
  @include InnerContentFlex;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.tabs {
  display: flex;
  list-style: none;
  background-color: var(--color_bg_app_bar);
  padding: 0.25rem;
  border-radius: 9999px;
}

.titleTab:hover {
  opacity: 1;
  background-color: var(--color_bg_app_bar);
  border-radius: 9999px;
  transition: all 0.2s ease-out
}

.titleTab {
  color: var(--color_fg_bold);
  padding: 0.5rem 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  opacity: 0.48;
  transition: all .2s ease-out;

  &[data-active="true"] {
    opacity: 1;
    background-color: var(--color_bg_layer);
    border-radius: 9999px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    transition: all .2s ease-out;
  }

  :global(html[lang="ja"]) & {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @media #{$breakpoint-dimension-sm} {
    font-size: 0.875rem;
    line-height: 1.35;
  }
}



.titleTab__compactLabel {
  font-size: .875rem;
  font-weight: 600;
  font-family: var(--font-primary);
  line-height: 1.35;
  @media #{$tablet} {
    display: none;
  }
}

.titleTab__fullLabel {
  display: none;
  font-size: .875rem;
  font-weight: 600;
  font-family: var(--font-primary);
  line-height: 1.35;

  @media #{$tablet} {
    display: unset;
  }
}

.description {
  width: 100%;
  color: var(--color_fg_default);
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 0.5rem;

  & strong {
    font-weight: 500;
  }

  @media #{$breakpoint-dimension-sm} {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
