@use "@/libs/theme/styles/variables" as *;
@use "@/libs/theme/styles/mixins" as *;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  z-index: 9001;
  backdrop-filter: blur(2rem);
}

.container {
  @include Container;
  display: none;

  background: var(--color_bg_app_bar);
  border-bottom: 1px solid rgba(#555, 0.32);

  @media #{$breakpoint-dimension-sm} {
    display: block;
  }
}

.wrapper {
  height: $navbar-height;
  @include ExtendedGrid;
}

.content {
  @include InnerContentFlex;
  height: 100%;
  position: relative;
  grid-column: 1 / -1;
  align-items: center;
  justify-content: space-between;
}

.navTabs {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
}

.navList {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0;

  height: 100%;

  @media #{$breakpoint-dimension-sm} {
    gap: 2rem;
  }

  @media #{$breakpoint-dimension-md} {
    gap: 3rem;
  }
}

.navList__item {
  position: relative;
  border-bottom: 0.125rem solid transparent;
  color: var(--color_fg_link);

  &[data-active="true"] {
    color: var(--color_fg_selected);
    border-bottom: 1px solid var(--color_border_selected);
  }
}

.navList__item,
.navList__item > a {
  display: flex;
  align-items: center;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.2px;

  &:focus-visible {
    outline: solid 1px var(--color_border_focus);
    outline-offset: 0.125rem;
    border-radius: 0.125rem;
  }
}
