@use "@/libs/theme/styles/variables" as *;
@use "@/libs/theme/styles/mixins" as *;

.container {
  @include Container;
  max-width: calc(100% - 2rem);
  display: none;
  position: fixed;
  top: 1rem;
  right: 0;
  left: 0;
  border-radius: 1.25rem;
  margin: 0 auto;
  box-sizing: border-box;
  background: var(--color_bg_app_bar);
  border: 1px solid var(--color_bg_app_bar);
  box-shadow: 0 12px 24px -12px rgba(0, 0, 0, .04);
  backdrop-filter: blur(3rem);
  z-index: 100;

  @media #{$breakpoint-dimension-sm} {
    display: block;
  }
  @media #{$breakpoint-dimension-xl} {
    max-width: $inner-content-grid-max-width;
  }
}

.wrapper {
  height: $navbar-height;
  @include ExtendedGrid;
}

.content {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  height: 1rem;
  margin-left: 1.5rem;
  z-index: 100;
}

.navContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
}

.navTabs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: .25rem;
}

.navList {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0;
  height: 100%;
  gap: 0.25rem;
}

.navList__item {
  position: relative;

  &[data-active="true"] {
    a {
      background-color: var(--color_bg_app_bar);
      color: var(--color_fg_bold);
      cursor: default;
    }
  }
}

.navList__item > a {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  color: var(--color_fg_default);
  font-size: .875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -.1px;
  border-radius: 9999px;

  &:focus-visible {
    outline: solid 1px var(--color_border_focus);
    outline-offset: 0.125rem;
    border-radius: 0.125rem;
  }
}

.actions {
  display: flex;
  gap: .5rem;

  @media #{$breakpoint-dimension-md} {
    gap: 1rem;
    margin-right: 1.5rem;
  }
}