.button__tooltipContainer {
    position: relative;
    display: inline-block;
    &:hover {
      .button__tooltip {
        opacity: 1;
      }
    }
}
.button__standard {
  gap: .75rem;
  border-radius: .5rem;
  color: var(--color_fg_on_button_subtle);
  z-index: 2;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  padding: .75rem;
  letter-spacing: .2px;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: all .2s ease-out;
  width: 2rem;
  height: 2rem;
  font-size: .875rem;
  line-height: 1.375rem;

  &[aria-disabled="true"] {
    opacity: 0.48;
    cursor: not-allowed;
  }

   &:hover {
    background-color: var(--color_bg_layer);
    border: 1px solid var(--color_border_default);
    transition: all .2s ease-out;
  }

  padding: 0 0.75rem;
  width: 5rem;
  height: 2rem;
  font-size: 0.875rem;
  line-height: 1.375rem;

  &[data-style="compact"] {
    padding: .25rem;
    width: 2rem;
    height: 2rem;
    font-size: .8125rem;
    line-height: 1.35;
  }

  svg {
    height: 1rem;
    width: 1rem;
  }

  &:focus-visible {
    outline: solid 1px var(--color_border_focus);
    outline-offset: 0.125rem;
    border-radius: 0.125rem;
  }
}

.button__tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    color: var(--color_fg_bold);
    background-color: var(--color_bg_layer);
    border: 1px solid var(--color_border_default);
    border-radius: .5rem;
    font-size: .75rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    z-index: 1000;
}

.button__icon {
  gap: 0.75rem;
  border-radius: 0.25rem;
  border: none;
  color: var(--color_fg_on_button_subtle);
  cursor: pointer;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;

  &[aria-disabled="true"] {
    opacity: 0.48;
    cursor: not-allowed;
  }

  width: 1.75rem;
  height: 1.75rem;

  svg {
    height: 1rem;
    width: 1rem;
  }

  &:hover {
    background-color: var(--color_bg_layer);
    border: 1px solid var(--color_border_default);
    transition: all .2s ease-out;
  }

  &:focus-visible {
    outline: solid 1px var(--color_border_focus);
    border-radius: 0.125rem;
  }
}
