@use "@/libs/theme/styles/variables" as *;
@use "@/libs/theme/styles/mixins" as *;

.cardHeadline__title {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    gap: .25rem;
    font-family: var(--font-primary);
    padding-top: .75rem;
    color: var(--color_fg_default);
    font-size: 1rem;
    line-height: 1.15rem;
    font-weight: 700;
    letter-spacing: -.2px;

  & * {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }

  @media #{$breakpoint-dimension-sm} {
    grid-column: span 12;
    scroll-margin-top: calc($navbar-height + $workflows-navbar-height + 2rem);
  }
}

.cardHeadline__titleTag {
  color: var(--color_fg_default);
  opacity: 0.64;
}

.cardHeadline__description {
  grid-column: span 6;
  width: 100%;
  color: var(--color_fg_default);
  display: flex;
  flex-direction: column;

  gap: 0.625rem;

  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 0.5rem;

  & strong {
    font-weight: 500;
  }

  @media #{$breakpoint-dimension-sm} {
    grid-column: span 12;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.headline__container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.title__container {
  grid-column: 1/-1;
  width: 100%;
  color: var(--color_fg_bold);
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
}

.card {
  isolation: isolate;
  flex: 1 1;
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 1px solid var(--color_border_default);
  background: var(--color_bg_layer_alternate-bold);
  padding:0 0.25rem;
  letter-spacing: -.1px;
  &[data-no-padding="true"] {
    padding: 0;
  }
  &[data-frameless="true"] {
    border-radius: 0;
    border: none;
  }
}

.card__heading_title_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  svg {
    color: var(--color_fg_default);
    margin-right: 2px;
  }
}

.card__hasFullWidth {
  grid-column: 1 / -1;
}

.card__hasFullHeight {
  height: 100%;
}

.card__exampleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 3.5rem;

  border-bottom: 1px solid var(--color_border_bold);
  gap: 0.25rem;
  text-transform: uppercase;

  background-color: var(--color_bg_layer);
}

.card__headline {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: 3rem;
  gap: 0.25rem;
}

.card__fullTitle {
  display: none;

  @media #{$breakpoint-dimension-xs-430} {
    display: block;
  }

  @media #{$breakpoint-dimension-sm} {
    display: none;
  }

  @media only screen and (min-width: 900px) {
    display: block;
  }
}

.card__compactTitle {
  @media #{$breakpoint-dimension-xs-430} {
    display: none;
  }

  @media #{$breakpoint-dimension-sm} {
    display: block;
  }

  @media only screen and (min-width: 900px) {
    display: none;
  }
}

.card__titleKey {
    color: var(--color_fg_default);
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: .24px;
}

.card__titleValue {
  color: var(--color_fg_default);
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: .24px;
}

.card__action {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  padding: 0.25rem 1rem;
  height: 3.5rem;

  border-top: 1px solid var(--color_border_bold);
}

.card__content {
  background-color: var(--color_bg_layer);
  height: 100%;
  border-radius: .75rem;
  box-shadow: 0 0 0 .5px rgba(0,0,0,.12),0 2px 2px -1px rgba(0,0,0,.04),0 4px 4px -2px rgba(0,0,0,.04),0 6px 6px -3px rgba(0,0,0,.04);
}

.card__body {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
  color: var(--color_fg_default);
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  min-height: 4rem;

  &[data-no-padding] {
    padding: 0;
  }
}

.card__body__buttons {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  z-index: 2;
}

.card__status {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .75rem .75rem .5rem;
  gap: .25rem;
  font-size: .875rem;
  line-height: 1.375rem;
  color: var(--color_fg_default);
}

.card__success {
  svg,
  span,
  p,
  code {
    color: var(--color_fg_on_state_success_subtle);
  }

  strong {
    color: var(--color_fg_on_state_success_subtle);
  }

  a {
    color: var(--color_fg_on_state_success_subtle);
  }
}

.card__error {
  
  span,
  p,
  code {
    color: var(--color_fg_on_state_danger_subtle);
  }

  strong {
    color: var(--color_fg_on_state_danger_subtle);
  }

  a {
    color: var(--color_fg_on_state_danger_subtle);
  }
}

.card__warning {

  span,
  p,
  code {
    color: var(--color_fg_on_state_caution_subtle);
  }

  strong {
    color: var(--color_fg_on_state_caution_subtle);
  }

  a {
    color: var(--color_fg_on_state_caution_subtle);
  }
}

.cardTabs__actionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
