@use "@/libs/theme/styles/variables" as *;
@use "@/libs/theme/styles/mixins" as *;

.container {
  @include Container;
  margin: 1.5rem 0rem;
}

.content {
  @include InnerContentFlex;
}

.title {
  width: 100%;
  color: var(--color_fg_bold);
  text-align: left;
  font-size: 2rem;
  line-height: 1.15;
  font-weight: 500;
  letter-spacing: -.96px;
  max-width: 42rem;
  text-wrap-style: balance;

  @media #{$breakpoint-dimension-xs} {
    font-size: 2.5rem;
  }

  @media #{$breakpoint-dimension-sm} {
    font-size: 3rem;
  }
}
